<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jiaoying Chinese Culture and Art School</title>

<link href="../CSS/main_frame.css" rel="stylesheet" type="text/css" />
<script src="../Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="../Scripts/swfobject.js"></script>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<style type="text/css">
<!--
#left {
	height: 1000px;
	width: 178px;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
	margin-right: 20px;
}
#body_content {
	height: 900px;
	width: 750px;
	margin-top: 15px;
	margin-left: 20px;
	padding-left: 20px;
	text-indent: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#body_content2 {
	height: 140px;
	width: 750px;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 20px;
	text-indent: 20px;
	padding-left: 20px;
}
#left_menu  {
	height: 200px;
	width: 155px;
	margin-top: 0px;
	margin-left: 10px;
}
.body_content {
	font-family: Arial, Helvetica, sans-serif;
	color: #993300;
	font-size: 12px;
}
.body_title {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}

.style3 {color: #996600}
-->
</style>
</head>

<body background="../images/bk_color.jpg">
<div id="container">
  <div id="header">
    <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','621','height','296','src','flash_movie/home_landing','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','../flash_movie/academic' ); //end AC code
</script><noscript>
<div id="FlashMenuLabs" style="position:absolute; top:10px; z-index:10;">
				<p>You need to upgrade your Flash Player or to allow javascript to enable Website menu.</br>
				<a href="http://www.adobe.com/go/getflashplayer">Get Flash Player</a></p>			
</div>
<script type="text/javascript">
				var so = new SWFObject("../flash_movie/academic.swf", "menu", "621", "296", "8", "#ffffff");				
				so.addParam("movie", "flash_movie/home_landing.swf");
				so.addParam("quality", "hight");
				so.write("FlashMenuLabs");
</script>

  </noscript></div>
  <div class="nav_title" id="nev_bar">Academic &gt;&gt;Art </div>
  <div id="left"><span class="body_content"><br />
    <table width="1000" align="top">                                                 
  <tr>                                                                                            
  <td width="420" align="left" valign="top">                                                                                                                                
                                                                                                                                                         
                                                                                                                                                                                                                           
                                                                  
    
     <p><img src="images/artclass-11.jpg" width="200" height="144" /> <img src="images/artclass-12.jpg" width="200" height="144" /></p>      
      <p><img src="images/artclass-13.jpg" width="200" height="144" /> <img src="images/artclass-14.jpg" width="200" height="144" /></p>
      <p><img src="images/artclass-15.jpg" width="200" height="144" /> <img src="images/artclass-16.jpg" width="200" height="144" /></p>
      <p><img src="images/artclass-17.jpg" width="200" height="144" /> <img src="images/artclass-18.jpg" width="200" height="144" /></p>
      <p><img src="images/artclass-24.jpg" width="200" height="144" /> <img src="images/artclass-20.jpg" width="200" height="144" /></p>
      <p><img src="images/artclass-1.jpg" width="200" height="144" /> <img src="images/artclass-2.jpg" width="200" height="144" /></p>
   </td>                                                 
                                                 
 <td width="580" align="left" valign="top">                                                                                                                               
                                                 
    
 
  
  <p class=MsoNormal><font color="#000099" face="宋体" size="4"><span lang="ZH-CN" style="mso-ascii-font-family: Abadi MT Condensed Light; mso-hansi-font-family:                      
Abadi MT Condensed Light; mso-fareast-language: ZH-CN">For lower level course,  Emphasis is  
 placed on understanding simple elements of   design (line, form, color, texture, symmetry, etc.).  
    <p>Intermediate course offers a wide variety of media such as pencil, oil   pastel, water colors, and ink, and provides an atmosphere that  
 encourages the   full realization of each individual's potential. </p>  
    <p>Advanced course encourages kids with broader, working knowledge of many   materials and techniques to have a confidence in their   
    own self-expression and   ability level. </p>  
    Art Program  
       &nbsp; 
  <p> 
   Our outstanding art programs led by Ms. Jiao Ying has won great reputation in   Portland area.  
  </span></span><span lang="ZH-CN" style="mso-ascii-font-family: Abadi MT Condensed Light; mso-hansi-font-family:                       
Abadi MT Condensed Light; mso-fareast-language: ZH-CN">It has not only attracted  many talented students,    
   our students   are frequent winners of many   national and state art shows/contests.  We have a very strong art teaching   team who are   
   devoted to bring out the full strength of imagination and   self-expression of our young artists.  
  Below are some art masterpieces from our various art classes.&nbsp;</span> 
    </p> 
  <p>
   <span lang="ZH-CN" style="mso-ascii-font-family: Abadi MT Condensed Light; mso-hansi-font-family:                      
Abadi MT Condensed Light; mso-fareast-language: ZH-CN"> 
  本校中文教学聘有3位双语资深美术教师&nbsp;</span> 
    </p> 
  <p>
   <span lang="ZH-CN" style="mso-ascii-font-family: Abadi MT Condensed Light; mso-hansi-font-family:                      
Abadi MT Condensed Light; mso-fareast-language: ZH-CN"> 
 Ms.Jiao,   Ying: Our principle, Ms. Jiao, is a senior education specialist herself. She was honored as   Outstanding Teacher by US Children   
 Art Center and Oregon Humane Society. She   received the 21st Century Art   Contribution Award from the US   
 Asian Pacific Art Academy. China State   Council honored her as an Outstanding Overseas Teacher.&nbsp;</span> 
    </p> 
  <p>
   <span lang="ZH-CN" style="mso-ascii-font-family: Abadi MT Condensed Light; mso-hansi-font-family:                      
Abadi MT Condensed Light; mso-fareast-language: ZH-CN">  
Ms. Zhang, Li: Studied in China Beijing Art School and College and worked at a Repertory   Theater group. since 1976, She has been involved  
 in costume design and puppet   making in the Beijing China Puppet Theater. She designed costumes and puppets in   over 100 shows and also for CCTV, Singapore, Japan and USA. In 1996 She moved to   Australia and taught Chinese dancing and art. In 2000, She moved to Oregon.  
 In addition to art, she also teaches dance.   
  从六岁起曾在战友杂技团学员班，北京舞蹈学院，北京空政文工团学习工作。1976年调入中国木偶剧团从事美术工作，  
  同期进入中央工艺美术学院学习，在这期间我设计并制做百部以上的木偶及电视连续剧。我的美术作品曾在中国，日本，  
  新加坡，美国各美术馆及电视台展出和销售。1996年移民澳大利亚从事美术舞蹈教学工作.2000年来到美国继续教学.&nbsp;</span> 
    </p> 
  <p>
   <span lang="ZH-CN" style="mso-ascii-font-family: Abadi MT Condensed Light; mso-hansi-font-family:                      
Abadi MT Condensed Light; mso-fareast-language: ZH-CN">   
  Ms. Chen, Ella: Over eleven years of experience working in the art field. B.A and   A.A. degrees in Fine Art. Expertise in oil based painting,   
  watercolor, and   portraits. Taught art classes to middle and high school students, 50 students   at a time with a total of 250 students each   
  week. using oil based painting,   watercolor, and portraits using pencils. Her oil painting masterpieces, primarily landscape and flowers    
   were sold by galleries and displayed in art exhibits in California and Atlantic   City, New Jersey.</span></font>
   </td>
   </tr> 
     </table> 
      <table width="1000" align="top">    
          <tr>
  <p><img src="images/artclass-5.jpg" width="200" height="144" /><img src="images/artclass-25.jpg" width="200" height="144" /><img src="images/artclass-3.jpg" width="200" height="144" /><img src="images/artclass-26.jpg" width="200" height="144" /><img src="images/artclass-27.jpg" width="200" height="144" /></p>
  <p><img src="images/artclass-23.jpg" width="144" height="200" /><img src="images/artclass-21.jpg" width="144" height="200" /><img src="images/artclass-22.jpg" width="144" height="200" /><img src="images/artclass-31.jpg" width="144" height="200" /><img src="images/artclass-4.jpg" width="144" height="200" /><img src="images/artclass-19.jpg" width="144" height="200" /></p>

    </tr>
  <div id="footer">  
    <div align="center" class="footer_address">  
      <p align="left"> </p>  
    </div>  
  </div>  
  
<p>&nbsp;</p>  
  </table>  
</body>  
