 #header {
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: 30px;
 }
 #logo h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 0px;
	padding: 10px 20px;
 }
 #search {
	padding: 40px 0px 0px 0px;
 }
 #toplinks {
	height: 30px;
	line-height: 30px;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/topnav-bg.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
 }
 #colorbar {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/3col-clrbr-01.png);
	background-position: top right;
	background-repeat: no-repeat;
	top: 112px;
	height: 60px;
 }
 #colorbar h2 {
	font-weight: normal;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 160%;
	line-height: 54px;
	color: #FFFFFF;
	margin: 0px;
	padding: 3px 0px 0px 40px;
 }
 #container {
	margin: 174px auto 0px auto;

 }
 #left, #right {
	border-color: #FFFFFF;
 }
 #left {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/side-bg.jpg);
	background-position: top left;
	background-repeat: repeat-x;
 }
 #left a, #left a.left_pagelink, #right a, table#mini-detail td {
	border-color: #FFFFFF;
 }
 #left a, #left a.left_pagelink { 
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/side-bullet.png);
	background-position: center left;
	background-repeat: no-repeat;
 }
 #left a.left_pagetitle, #right a.right_pagetitle {
	color: #292825;
	text-align: left;
	border-bottom: 0px;
 }
 #table td.side-line, #table td.side-line img {
	background-color: #E9E9E9;
 }
 #pagination, #pagination2 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/pagination-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
 }
 #right {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/side-bg.jpg);
	background-position: top left;
	background-repeat: repeat-x;
 }
 #footercategories, #press-recal {
	background-color: #F6F6E3;
 }
 div.footcat, div.footer_pagelinks {
	border-color: #FFFFFF;
 }
 #footertext, #footerlinks_inner, #footerlinks_inner a, #lastline {
	color: #F6F6E3;
 }
 #footerlinks {
	border-color: #F6F6E3;
 }
 
 /* -- Product On Category Pages -- */
 .pr, .gc_pr_hm, .pc_pr {
	border: 1px solid #F6F6E3;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/product-bg.jpg);
	background-position: bottom left;
	background-repeat: repeat-x;
 }
 #progressbar {
	background-color: #D7D7D7;
 }
 #toptabs {
	top: 130px;
	height: 27px;
	border-bottom: 3px solid #000006;
 }
 .suckertreemenu ul li a {
	background-color: #000006;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/toptab.gif);
	background-repeat: no-repeat;
	background-position: top center;
	line-height: 28px;
	width: 120px;
 }
 .suckertreemenu ul li ul li a {
	background-position: 0px -100px;
	line-height: 22px;
 }
