 #header {
	height: 90px;
	overflow: hidden;
	position: absolute;
	top: 30px;
	background-color: #D7D7D7;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/3col-2-tr.gif);
	background-repeat: no-repeat;
	background-position: top right;
	color: #FFFFFF;
 }
 #logo {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/3col-2-tl.gif);
	background-repeat: no-repeat;
	background-position: top left;
 }
 .reg td {
	color: #FFFFFF;
	font-size: 90%;
 }
 .reg td a {
	color: #F6F6E3;
 }
 #logo h1 {
	font-size: 22px;
	font-weight: normal;
	margin: 0px;
	padding: 20px;
 }
 #search {
	padding: 40px 0px 0px 0px;
 }
 #toplinks {
	height: 22px;
	line-height: 22px;
 }
 #colorbar {
	background-color: #FFFFFF;
	top: 106px;
	height: 20px;
 }
 #colorbar h2 {
	font-weight: normal;
	font-size: 90%;
	line-height: 16px;
	margin: 0px;
	padding: 3px 0px 2px 20px;
	text-align: left;
	color: #D7D7D7;
 }
 #container {
	position: relative;
	margin: 126px auto 0px auto;

 }
 #table, #container div.clear {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	background-color: #FFFFFF;
 }
 #left, #right, div.footcat, table#mini-detail td {
	border-color: #FFFFFF;
 }
 #press-recal {
	background-color: #F6F6E3;
 }
 #footercategories {
	background-color: #F4ECCE;
 }
 div.footer_pagelinks {
	border-color: #F4ECCE;
 }
 #left a.left_pagelink {
	border-bottom: 0px;
 }
 #left .left_pagetitle {
	text-align: left;
 }
 #left a, #right a {
	border-color: #FFFFFF;
 }
 #footerlinks {
	border-top: 1px solid #FFFFFF;
 }
 #progressbar {
	background-color: #6F420D;
	width: 500px;
 }
 #press-recal {
	background-color: #FFFFFF;
	color: #D7D7D7;
 }
 .suckertreemenu li, .suckertreemenu ul li ul {
	border-color: #000006;
 }
 #toptabs {
	background: #000006 url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/mu-topbar-bg-bk.png) repeat-x bottom left;
 }
 .suckertreemenu ul li {
	border-right-width: 1px;
	border-right-style: solid;
 }
 .suckertreemenu ul li ul {
	border-left-width: 1px;
	border-left-style: solid;
 }
