 a {outline: 0px;}
 #payment_logos {text-align: center; padding: 15px 0px;}
 #edit_shipping td.addr {text-align: right;}
 #edit_shipping td.addr_val {text-align: left;}
 table.gcs_table {margin: 10px auto;}
  .nobr {white-space: nowrap;}
 td.addr, td.addr_val, td.payment, td.payment_value {text-align: left;}
 a.fb_share, a.twtr_share {padding: 0px 4px 0px 0px;}
 span.pin-it-button {display: inline-block; width: 45px; overflow: hidden;}
 div.fb_share {display: inline-block; width: 55px; overflow: hidden;}
 div.twtr_share {display: inline-block; width: 88px; overflow: hidden;}
 div#plusone {display: inline-block; width: 75px; overflow: hidden;}
 img.social_follow {float: right; padding: 0px 2px; border: 0px;}
 .reviews-brief {font-size: 90%; white-space: nowrap; display: block;}
 .reviews-brief div.reviews_stars {height: 20px; max-height: 20px; overflow: hidden; padding: 2px 0px;}
 .reviews-brief span.reviews_stars_text, .reviews-brief span.review_product_name, .reviews-brief span.review_microdata_count, span.review_microdata_wrapper span.review_product_name, span.review_microdata_wrapper span.review_microdata_count, div.review span.review_product_name {display: none;}
 .reviews-brief a, div#reviews-more a {text-decoration: underline;}
 td.pcs_table_content span.reviews-brief, td.gcs_table_content span.reviews-brief {width: 80px; margin: 0px auto;}
 div#reviews-more span.reviews_stars_text {padding: 0px 6px 0px 0px;}
 div#reviews-more {border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; padding: 14px 0px; margin: 0px auto;}
 div#reviews-more div.reviews_stars, div#reviews-more span.reviews_stars_text, div#reviews-more div.reviews_stars_wrapper, div#reviews-more div.reviews_count {display: inline-block; line-height: 20px;}
 div#reviews-more div.reviews_stars_wrapper {height: 16px; max-height: 16px; overflow: hidden; padding: 0px; display: inline-block; width: 80px; position: relative; top: 3px;}
 div#reviews-more h4 {padding: 22px 0px 4px 0px; margin: 0px; font-weight: bold;}
 span.review_title {font-weight: bold; padding: 0px 8px;}
 div#reviews-more div.review {border-top: 1px solid #FFFFFF; padding: 14px 0px;}
 div#reviews-more span.review_author_text, div#reviews-more span.review_author, div#reviews-more span.review_date {line-height: 150%;} span#ss_inv {display: block; font-weight: bold; line-height: 26px;}
 span.ss_in_stock {color: green;}
 span.ss_out_of_stock, span.ss_low_stock {color: red;}
 #ss_mb {text-align: center;}
span.field_warn {color: red; font-weight: bold;} input.field_warn, select.field_warn {border: 1px solid red; padding: 3px; background: #FFEFEF;}
