

 body {
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: #626660;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/cropcircles/bg-gradient.gif);
	background-position: top center;
	background-repeat: repeat-y;
	}
 body, div, p, span, li, td, a {
	font-family: Helvetica;
	font-size: 12px;
	text-align: left;
	}
 #header {
	font-weight: normal;
	text-align: center;
	margin: 0px auto;
	font-size: 16px;
	color: #FFFFFF;
 	height: 250px;
	width: 900px;
	padding: 0px;
	}
 #header h1 {
	font-family: arial narrow;
	font-weight: normal;
	text-align: center;
	padding: 80px 0 0 0;
	margin: 0px auto;
	font-size: 60px;
	margin: 0px;
	color: #FFFFFF;
	}
 #toplinks {
	background-color: #000000;
	height: 45px;
	margin: 0px auto;
	width: 900px;
	padding: 0px;
	border: none;
	}
 #toplinks a {
	line-height: 45px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	padding: 0px 10px;
	font-weight: bold;
	max-width: 180px;
	display: block;
	}
 #toplinks a:hover {
	color: #FFFFFF;
	}
 #container {
	width: 900px;
	margin: 0px auto;
	padding: 0px;
	}
 #columns {
	border-collapse: collapse;
	min-height: 300px;
	}
 #tabs {
	list-style-type: none;
	margin: 0px;
	float: left;
	padding: 0px;
	white-space: nowrap;
	width: 900px;
	}
 li.tab {
	display: inline;
	float: left;
	}
 #leftside {
	vertical-align: top;
	width: 200px;
	max-width: 200px;
	padding: 0 0 10px 0;
	}
 #search {
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #000000;
	}
 #search input {
	margin: 10px 0 0 0;
	}
 #leftlinks {
	margin: 0px;
	padding: 12px 0px;
	}
 #leftlinks a {
	display: block;
	text-align: left;
	padding: 3px 10px;
	margin: 0px;
	text-decoration: none;
	}
 #lefttext {
	text-align: left;
	padding: 4px;
	margin: 0px;
	}
 #rightside {
	vertical-align: top;
	padding: 0 20px 10px 20px;
	margin: 0px;
	height: 300px;
	width: 700px;
	}
 #rightside-noleft {
	min-height: 300px;
	width: 860px;
	margin: 0px;
	padding: 0 20px 10px 20px;
	}
 table.gcs_table {
	width: 100%;
	margin: 10px auto;
	}
 table.gcs_table td {
	width: 33%;
	text-align: center;
	}
 td#gcs_page, td#gcs_mi {
	padding: 8px;
	font-size: 1.5em;
	background-color: #F6F6E3;
	}

 #footer {
	text-align: center;
	width: 900px;
	clear: both;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 30px 0;
	color: #FFFFFF;
	}
 #pagination {
	width: 150px;
	text-align: right;
	padding: 10px;
	margin: 0px;
	float: right;
}
 .clear {
	clear: both;
	}
 .footer, .header, .buttons, .center {
	text-align: center;
	}
 .right {
	text-align: right;
	}
 h1 {
	font-size: 24px;
	padding-top: 10px;
	margin-top: 0px;
	text-align: left;
	color: #000000;
	font-weight: normal;
	}
 h2 {
	font-size: 20px;
	font-weight: normal;
	}
 h3 {
	font-size: 18px;
	font-weight: bold;
	}
 h4 {
	font-size: 14px;
	font-weight: bold;
	}
 h5 {
	font-size: 12px;
	font-weight: bold;
	}
 .button, .gcs_addtocart_button, img.pcs_addtocart_button, .pr_addtocart_button, .add, table.search_table input, .details {
	margin: 0;
	padding: 0;
}
 .ship_logos {
	width: 100%;
	text-align: center;
}

 #image1, #image2 {
	text-align: center;
}
 #texta, #textb {
	padding: 10px;
}

 .button6, .button7, .button8, .button9, .button67, .button68, .button162, .button163, .pcs_addtocart_button, .button154, .button383 {
	background-color: #6F420D;
	margin: 0px;
	padding: 0px;
}
 .button383 {
	margin-top: 3px;
}
div#messages {
/*  margin-top: 10px; */
  vertical-align: middle;
}


/**********************************/
/***  Table of Products (Cart)  ***/
/**********************************/
table.cart {
  width: 100%;
  padding-top: 1em;
  border-collapse: separate;
  border-spacing: 3px;
}

th {
  text-align: center;
}

td.cart_delete, td.cart_cp_delete {
  padding: 3px;
  width: 50px;
  text-align: center; 
  background-color: #FFF;
}

td.cart_quantity, td.cart_cp_quantity {
  padding: 3px;
  width: 70px;
  text-align: center; 
  background-color: #F6F6E3;
}

td.cart_name, td.cart_cp_name {
  padding: 3px;
  text-align: left; 
  background-color: #F6F6E3;
}

td.cart_image, td.cart_cp_image {
  padding: 3px;
  text-align: center; 
  background-color: #F6F6E3;
}

td.cart_sku, td.cart_cp_sku {
  padding: 3px;
  text-align: left; 
  background-color: #F6F6E3;
}

td.cart_price, td.cart_cp_price {
  padding: 3px;
  font-style: italic;
  text-align: right; 
  background-color: #F6F6E3;
}

td.cart_total, td.cart_cp_total {
  padding: 3px;
  text-align: right; 
  background-color: #F6F6E3;
  white-space: nowrap;
}

td.cart_op {
  padding: 3px;
  text-align: left; 
  background-color: #F6F6E3;
}

td.cart_op1, td.cart_op2 {
  padding: 3px;
  background-color: #F6F6E3;
}

td.cart_empty {
  padding: 3px;
  text-align:center;
  background-color: #F6F6E3;
}

select.cart {
  text-align: left;
}

textarea.cart {
  vertical-align: middle; 
}


/***************************************/
/***          Table of Totals        ***/
/***  Subtotal, Tax, Shipping, etc.  ***/
/***************************************/
table.totals {
  color: #292825;
  vertical-align: middle; 
  width: 100%;
  line-height: 150%;
  float: right;
}

td.totals_txt, td.totals_saved_txt, td_totals_blank, td.totals_all_txt {
  text-align: right;
  padding-right: 15px;
}

td.totals, td.totals_saved, td.totals_all {
  text-align: right;
  padding-right: 3px;
}

td.totals_all, td.totals_all_txt {
  font-weight: bold;
  font-size: 16px;
  background-color: #F6F6E3;
}

/***********************/
/***  Payment Table  ***/
/***********************/
table.payment{
  color: #292825;
}

table.pay_holder {
  margin-left: auto;
  margin-right: auto;
}

td.pay_holder_hdr {
  font-weight: bold;
}

td.payment_hdr {
  font-weight: bold;
  text-align: center;
}

td.paymentselection {
  text-align: center;
  padding-top: 1em;
}

td.payment {
  text-align: left;
}

td.payment_value {
  text-align: left;
}

table.sql_pay {
  margin-left: -4px;
  margin-right: auto;
}

td.sql_pay {
  padding-right: 15px;
  font-weight: bold;
}

td.new_payment_type {
  text-align: left;
}
table.sec_image {
	margin: 0px auto;
}


/*******************************/
/***  Table of Registration  ***/
/*******************************/

table.reg {
  color: #292825;
  vertical-align: middle; 
  border-spacing: 0;
  padding-bottom: 1em;
}

td.reg_wel {
  font-weight: bold;
}

td.reg {
  text-align: left;
}

td.reg_link {
  text-align: left;
}

td.coupon {
  padding-top: 1em;
}

td.buttons {
  text-align: center;
  padding-top: 1em;
}

/*** Enter postal code, select country ***/
table.zipncountry {
  text-align: left;
}

td.zipncountry {
  text-align: left;
}

td.zipncountry_text {
  text-align: left;
}

td.sql_addr_hdr {
  font-weight: bold;
}

td.sql_addr {
  padding-right: 15px;
}


/*** select shipping method, tax rate ***/
table.taxnship, table.surcharge { 
  text-align: right;
  padding-top: 1em;
}

td.taxnship_hdr {
  font-weight: bold;
  text-align: left;
}

td.taxnship {
  text-align: left;
}


/*** select surcharge ***/
table.surcharge { 
  text-align: right;
}


/*******************************/
/***  Ordering Instructions  ***/
/*******************************/
td.orderinginstructions {
  text-align: center;
  padding-top: 1em;
}

table.instruct {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #292825;
}

td.instruct_hdr {
  font-weight: bold;
}

/*****************/
/***  Buttons  ***/
/*****************/
input.button152 { 
  color: #292825;
  cursor: pointer;
}

input.button154 { 
  color: #292825;
  cursor: pointer;
}

/*********************************/
/***  Table of Error Messages  ***/
/*********************************/
  div.warning {
    width: 400px;
    margin: 0px auto;
    padding: 5px;
    border: 1px solid #292825;
    background-color: #F6F6E3;
  }

table.checkout_err, inv_err {
  margin-left: auto;
  margin-right: auto;
}

td.checkout_err, inv_err {
  color: #292825;
  background-color: #F6F6E3;
}

table.ups_error {
  margin-left: auto;
  margin-right: auto;
}

td.ups_error {
  color: #292825;
  background-color: #F6F6E3;
  vertical-align: middle;
}

/* Checkout Button Table */
table.checkout {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.checkout {
  padding: 5px;
  text-align: center;
}

table.google_button {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.google_button td {
  text-align: center;
}

/* ---------------- */
/* Cross-sell Stuff */
/* ---------------- */
td.gcs_table, td.pcs_table {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

table.gcs_table, table.pcs_table {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table.gcs_table caption, table.pcs_table caption {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

td.gcs_table_blank, td.pcs_table_blank {
}

td.gcs_table_content, td.pcs_table_content {
  width: 25%;
}

/* Cross-sell Contents */
table.gcs_product_table, table.pcs_product_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

td.gcs_product_name, td.pcs_product_name {
  text-align: center;
  font-weight: bold;
}

td.gcs_product_image, td.pcs_product_image {
  text-align: center;
}

td.gcs_product_image img, td.pcs_product_image img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.gcs_product_price, td.pcs_product_price {
  text-align: center;
}

td.gcs_product_add_to_cart, td.pcs_product_add_to_cart {
  text-align: center;
}

td.gcs_product_add_to_cart a, td.pcs_product_add_to_cart a {
  font-weight: bold;
}

td.gcs_product_add_to_cart a:active, td.pcs_product_add_to_cart a:active {
}

td.gcs_product_add_to_cart img, td.pcs_product_add_to_cart img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.sc_secure_image {
  text-align: center;
}
table.program_reward_order {
  float: right;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
 .suckertreemenu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
 .suckertreemenu ul li{
	position: relative;
	display: inline;
	float: left;
}
 .suckertreemenu ul li a {
	display: block;
	width: 90px;
	padding: 0px 8px;
	text-decoration: none;
	text-align: center;
	color: black;
}
 .suckertreemenu ul li ul {
	left: 0;
	position: absolute;
	top: 1em;
	display: block;
	visibility: hidden;
}
 .suckertreemenu ul li ul li{
	display: list-item;
	float: none;
}
 .suckertreemenu ul li ul li ul{ 
	left: 159px;
	top: 0;
}
 #toplinks .suckertreemenu ul li ul li a{
	display: block;
	width: 160px;
	color: black;
	text-decoration: none;
	padding: 0px 5px;
	border-bottom: 1px solid #000;
	height: 20px;
	line-height: 20px;
}
 #toplinks .suckertreemenu ul li a:hover{
	color: #FFFFFF;
}
* html p#iepara{
	padding-top: 1em;
}
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
