
/* Main CSS */
  
  body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 76%;
  line-height: 1.166; 
  margin: 0;
  padding: 0;
  width: 777px;
  margin-left: auto;
  margin-right: auto;  
  }

  a:link {
  text-decoration: none;
  }

  a:visited {
  text-decoration: none;
  }

  a:hover {
  text-decoration: none;
  }

  a:hover {
  text-decoration: underline;
  }
/* overrides decoration from previous rule for hovered links */

  h1, h2, h3, h4, h5, h6 {
  margin: 0.0em;
  padding: 0.0em;
  }

  h1{
  font-size: 2.0em;
  font-weight: normal;
  }

  h2{
  font-size: 1.7em;
  font-weight: normal;
  }

  h3{
  font-size: 1.4em;
  font-weight: normal;
  }

  h4{
  font-size: 1.2em;
  font-weight: bold;
  }

  h5{
  font-size: 1.0em;
  font-weight: normal;
  }

  ul{
  list-style-type: square;
  }

  ul ul{
  list-style-type: disc;
  }

  ul ul ul{
  list-style-type: none;
  }

  label{
  font: bold 1em Arial,sans-serif;
  }
        
  select, input { 
  font-size: 1em;
  }

  .hidden {
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  height: 1px;
  }


/* Layout Divs */


  #masthead{
  margin: 0;
  padding: 10px 0px;
  width: 100%;
  }

  #masthead img {
  margin: 0 1em 1em 0;
  }
  
  #navBar{
  margin: 0 555px 0 0;
  padding: 0px;
  margin-bottom: 10px;
  }

  #content{
  float:right;
  width: 535px;
  margin: 0;
  padding: 0 9px 0 9px; 
  }

  #content2 {
  margin: 0 15px;
  }
  #register #content2 {
  text-align: center;
  }

  #siteName{
  margin: 0px;
  padding: 0px 0px 10px 10px;
  }

  #univ-header {
  padding: 0 0 .5em 10px;
  }

/*************** #pageName styles **************/

  #pageName{
  padding: .25em 0;
  }


/************* #globalNav styles **************/

  #globalNav{
  padding: 0px 0px 0px 10px;
  white-space: normal;
  clear: left;
  }

  #globalNav img{
  display: block;
  }

  #globalNav a {
  font-size: 1em;
  padding: 0 .25em 0 0;
  }

  #miniCart {
  float: right;
  clear: left;
  }
  
  #miniCart a {
  font-size: 1em;
  padding: 0 1em 0 0;
  }

/************** .text1 styles ***************/

  .text1{
  padding: .5em 0em;
  font-size: 1em;
  }

  .text1 h3{
  padding: 1em 0 .25em 0;
  text-align: center;
  }

  .text1 img {
  border: none;
  }

/************** .text3 styles *****************/

  .text3{
  clear: both;
  margin: 1em 0 0 0;
  font-size: 1em;
  }

  .text3 p {
  padding: 0 0 1em 0;;
  }
/************** Cross Sell CSS *****************/

 table.gcs_table, table.pcs_table {
	width: 100%;
	margin: 10px auto;
  }
 table.gcs_table td, table.pcs_table td {
	width: 33%;
	text-align: center;
  }
 td#gcs_page, td#gcs_mi, td#pcs_mi {
	padding: 8px;
	font-size: 1.5em;
	background-color: #F6F6E3;
  }
 table.pcs_table td a {
	display: block;
  }

/************* #footer styles ***************/

  #footer{
  clear: both;
  font-size: 1em;
  margin: 0;
  padding: 10px 0px;
  margin-top: -1px;
  width: 100%;
  }
/* negative top margin pulls footer up so its top border overlaps (and thus lines up with)
  the bottom border of the navBar in cases where they "touch" */

  #footer img{
  padding: 0.5em 0.5em 0.5em 0px;
  
  }

  #footerContents {
  padding: 1em;
  }

/************* #search styles ***************/

  #search {
  padding: .5em 0 .5em 1em;
  font-size: 0.8em;
  }

  #search form{
  margin: 0;
  padding: 0;
  }

  #search label{
  display: block;
  margin: 0;
  padding: 0;
  } 


/*********** #navBar link styles ***********/

  #navBar ul a:link, #navBar ul a:visited, #navBar ul a:hover {
  display: block;
  }
  #navBar ul {list-style: none; margin: 0; padding: 0;}

  span.link_text {
  margin: .25em 1em;
  line-height: 2em;
  }
  
  img.link_image {
  vertical-align: middle;
  }

/*********** #sectionLinks styles ***********/

  #sectionLinks{
  margin: 0;
  padding: 0;
  font-size: 1em;
  }

  #sectionLinks h3{
  font-size: 1em;
  font-weight: bold;
  padding: .25em 0em .25em 1em; 
  }

  #sectionLinks a:link, #sectionLinks a:visited{
  text-align: left;
  padding: .25em 0em .25em 1em;
  width: 100%;
  voice-family: "\"}\""; 
  voice-family:inherit;
  width: auto;
  }

  #sectionLinks a:hover{ 
  padding: .25em 0em .25em 1em;
  text-decoration: none;
  }


/************** #text2 styles **************/

  #text2{
  padding: .25em 0em .25em 1em;
  font-size: 1em;
  }

  #text2 img{
  display: block;
  }

  span.subprInfo {
  margin: 0em 1em;
  line-height: 2em;
  display: block;
  }
  
  span.subprInfo input {
  margin-left: .5em;
  }
  
  .clear {
  clear: both;
  }

/* product styles */

  .productBlock {
  margin: 0 0 10px 10px;
  padding: 5px;
  }

  .productBlock h2 {
  font-size: 80%;
  margin: 5px;
  padding: 5px;
  }

  .productBlock img {
  border-width: 0;
  }

  .productGraphic {
  margin-top: 0;
  margin-bottom: 10px;
  }

  .productInfowrap {
  margin: 0 5px;
  }

  .productGraphic img {
  border: none;
  margin: 0 5px;
  }

  .productName {
  white-space: normal;
  }

  .productSku {
  margin: 1em 0;
  }

  .productDescription {
  margin: 1em 0;
  }
  
  .productPrice {
  font-weight: normal;
  margin: 1em 0;
  white-space: nowrap;
  }
  
  .onsale {
  font-weight: bold;
  padding: 0 .25em;
  margin: .5em;
  }

  .QPtable span.onsale {
  border: none;
  }

  .QPtable {
  margin: 1em 0;
  }

  .mi-productGraphic {
  margin-top: 0;
  margin-bottom: 1em;
  }

  .mi-productDescription {
  margin: 15px 0;
  }

  .checkout {
  margin: 1em 0;
  white-space: nowrap;
  }

/* to fix select box alignment in firefox */
  .productBlock table, .checkout table, .mi-checkout table {
  margin-top: .5em;
  margin-bottom: .5em;
  }
/*end firefox fix */
  
  #prevNext {
  clear: both;
  font-size: 1.25em;
  }


/* add to cart button */
  input.add { 
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  margin: 0 .5em 0 0;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  m: expression(this.onmouseover = new Function("this.className = 'addhover';"));
  } 

  input.add:hover, input.addhover {
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  margin: 0 .5em 0 0;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  m: expression(this.onmouseout = new Function("this.className = 'add';"));
  }

  .mi-productBlock {
  margin: 0;
  padding: 0px;
  }

  .mi-productInfowrap {
  padding: 0;
  }

  .mi-productGraphic img {
  border: none;
  padding: 0;
  margin: 0;
  }

  .mi-productName {
  white-space: normal;
  font-weight: bold;
  text-align: left;
  margin: 1em 0;  
  }

  .mi-productDescription {
  padding-bottom: 1em;
  }

  .mi-productPrice {
  margin: 1em 0;
  }
  
  .mi-checkout {
  line-height: 1.5em;
  }


  .mi-checkout select {
  margin-bottom: 1em;
  }

  .mi-addtocartbtn {
  text-align: right;
  margin: 5px 5px 0 5px;
  }

/* button styles */

  .button6,
  .button7, 
  .button9, 
  .button67, 
  .button68, 
  input.button152, 
  input.button154,
  .button162,
  .button163,
  .button164, 
  .button165, 
  .button166, 
  .button167, 
  .button168, 
  .button169,
  .button170, 
  .button171, 
  .button172,
  .button173, 
  .button183, 
  .button184, 
  .button185,
  .button186, 
  .button187, 
  .button188, 
  .button189, 
  .button331,
  .button375,
  input.button383,
  a.addToCartLink, .input {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 100%;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  margin: .25em;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  m: expression(this.onmouseover = new Function("this.className = 'inputhover';"));
} 
input.button8 {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 24pt;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  margin: .25em;
  cursor: pointer;
  m: expression(this.onmouseover = new Function("this.className = 'button8hover';"));
}
  .button6:hover,
  .button7:hover, 
  .button9:hover, 
  .button67:hover, 
  .button68:hover, 
  input.button152:hover, 
  input.button154:hover,
  .button162:hover,
  .button163:hover,
  .button164:hover, 
  .button165:hover, 
  .button166:hover, 
  .button167:hover, 
  .button168:hover, 
  .button169:hover,
  .button170:hover, 
  .button171:hover, 
  .button172:hover,
  .button173:hover, 
  .button183:hover, 
  .button184:hover, 
  .button185:hover,
  .button186:hover, 
  .button187:hover, 
  .button188:hover, 
  .button189:hover, 
  .button331:hover,
  .button375:hover,
  input.button383:hover,
  a.addToCartLink:hover,
  .inputhover
  {
  font-family: Arial, Helvetica, sans-serif; 
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  margin: .25em;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  m: expression(this.onmouseout = new Function("this.className = 'input';"));
  }
input.button8hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24pt;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  margin: .25em;
  cursor: pointer;
  m: expression(this.onmouseout = new Function("this.className = 'button8';"));
  }
  
/* specific button styles */
  /* remove & update */
      
  input.button383,
  input.button154 {
  font-size: 1em;
  margin: 1px;
  }
  
  /* add to cart, view cart buttoms */
  a.addToCartLink {
  padding: .1em .2em;
  }
  
  .add-img, .viewcart-img {
  vertical-align: bottom;
  }

  a.viewcart {
  white-space: nowrap;
  }
  #share {
  text-align: center;
  padding: 3px;
  }
/* End Main CSS */


 #image1, #image2 {
  text-align: center;
  }

 #texta, #textb {
  padding: 10px;
  }

/************ Search Results ***************/
  .searchResultForm {
  clear: both;
  margin: 1em 0em;
  }

  .searchResultForm table {
  margin-left: auto;
  margin-right: auto;
  }

  td.search_button {
  background: none;
  font-size: 1.25em;
  }

  input.search_button {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  cursor: pointer;
  padding: 0 .33em; 
  m: expression(this.onmouseover = new Function("this.className = 'search_button_hover';"));
  } 

  input.search_button:hover, input.search_button_hover {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  cursor: pointer;
  padding: 0 .33em; 
  m: expression(this.onmouseout = new Function("this.className = 'search_button';"));
  }

  input.search_button_selected {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 1em;
  text-decoration: none;
  padding: 0 .33em; 
  border: none;
  background-color: transparent;
  }
  
  .productGraphic img { 
  margin: 0 10px 0 0;
  float: left;
  }
  
  /* Form Stuff */
  table.searchResultForm {
    width: 100%;
    text-align: center;
  }
  
  td.searchResultFormTop {
    text-align: center;
  }
  
  td.searchResultFormSort {
    text-align: left;
  }
  
  td.searchResultFormCount, td.searchResultFormPrevNext {
    text-align: center;
  }
  
  td.searchResultFormPerPage {
    text-align: right;
  }

  div.searchResultPage {
  clear: left;
  padding: .5em 0;
  font-style: italic;
  }

  a.link_name {
  white-space: pre;
  line-height: 1.5em;
  }


/***** Shopping Cart and CR *****/
  #content2 {
  text-align: left;
  }

  .cust_name {
  font-size: 1.5em;
  font-style: italic;
  font-weight: normal;
  }
  
  form.cr {
  padding: 0 15px;
  }
  
  table.cart {
  width: 700px;
  }

  div.warning {
    width: 400px;
    margin: 0px auto;
    padding: 5px;
    border: 1px solid #292825;
    background-color: #F6F6E3;
  }
  
  .ups_error {
  background-color: #F6F6E3;
  }
  
/* preferences page alignments */ 
  table.view_edit {
  margin: 0px auto;
  }
  td.email_type, td.save_payment {
  width: 100%;
  vertical-align: bottom;
  }

  #showBasket {
  margin: 1em;
  }
  th {
    text-align: center;
  }
  
  th.cart_name, th.cart_sku{
  text-align: left;
  }

  
  table.reg {
  margin-bottom: 1em;
  }
  
  div.sc-header {
  margin: 0px 15px 0 15px;
  text-align: center;
  }
  
  .sc-header h2 {
  margin-top: .5em;
}
  table.bill_addr, table.ship_addr {   /* inner table for billing and shipping address */
    margin-right: auto;
  }
  
  #sc-form {
  text-align: center;
  padding: 0 10px;
  }
  
    .reg {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  }
  
  #ship-tax {
  text-align: right;
  line-height: 150%;
  }
  
  #ship-tax table {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  }
  
  td.taxnship {
  line-height: 2em;
  text-align: right;
  }
  
  ul#ship, ul#ship li {
  text-align: left;
  }
  
  #totals {
  margin-top: 10px;
  }
  
  .totals_all {
  width: 3em;
  background-color: #F6F6E3;
  }
  
  .totals_all_txt {
  text-align: right;
  padding-right: 15px;
  background-color: #F6F6E3;
  }
  
  #sc-coupon input, #sc-giftcert input  {
  vertical-align: middle;
  }
   
  #sc-coupon {
  padding-top: 15px;
  }
  
  span.coupon-caption {
  font-weight: bold;
  }
  
  
  span.enterCoupon {
  font-size: .75em;
  }
  
  #sc-giftcert {
  padding: 1em;
  line-height: 150%;
  }
  
  .button9 {
  border-color: #F4ECCE !important;
  }
  
  div.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  }
  

  div.anyChanges {
  font-size: .75em;
  font-weight: bold;
  font-style: italic;
  }
  
  #orderinginstructions {
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
  #paymentselection {
  font-weight: bold;
  padding: 10px;
  }

/* formatting for address choices when signed in */ 
  td.sql_addr {
  padding-right: 15px;
  }
  
  table.sql_addr td
  {
  text-align: left;
  }
  
  td.zipncountry_hdr {
  font-weight: bold;
  padding-bottom: 20px;
  text-align: left;
  }
  
  table.sql_addr  {
  width: 500px;
  }
    
  table.selectzipncountry {
  width: 500px;
  }
  
  .sql_addr_select, td.zipncountryradio {
  width: 25px;
  }
/* end formatting for address choices when signed in */   

  hr {
  color: #F6F6E3;
  background-color: #F6F6E3;
  height: 1px;
  border-style: solid;
  }
  
/* rewards program */

  table.program_reward_order {
  border: 2px solid #F6F6E3;
  margin: 0em auto;
  padding: 1em;
  text-align: center;
  }

  th.program_reward_order {
  font-size: 1.4em;
  font-weight: normal;
  } 
  table.program_reward_hdr{
  border: 1px solid #F6F6E3;
  margin: 0 auto 1em auto;
  }

  th.program_reward_hdr {
  font-size: 1.4em;
  font-weight: normal;
  }

  th.program_reward {
  font-weight: normal;
  padding-right: 3em;
  text-decoration: underline;
  }

  table.program_reward td {
  text-align: center;
  padding-right: 3em;
  padding-top: .5em;
  }
  
/* Google Button Stuff */

  table.google_button {
  margin-left: auto;
  margin-right: auto;
  }

  #secure_image {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  }

/* Cross Sell */
  div.cross_sell {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

  table.cross_sell {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid #F6F6E3;
  }

  caption.cross_sell {
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #037F8F;
  }

  td.cross_sell {
  text-align: center;
  }

  div#secure_image {
  text-align: center;
  }


/*************  Gift Certificates **************/
  .gc-div {
  text-align: center;
  padding-bottom: 2em;
  }

  .cert {
  margin: 1em;
  }

  .cert_text {
  text-align: right;
  font-weight: bold;
  font-style: normal;
  padding-right: 1em;
  }

  .cert_value {
  color: #037F8F;
  font-weight: bold;
  padding-left: 1em;
  }

  .cert_message {
  text-align: center;
  padding: 1em;
  font-weight: normal;
  }

  .instructions {
  margin: 0 0 1em .25em;
  line-height: 1.5em;
  }

  .policy {
  color: #292825;
  clear: both;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  width: 80%;
  line-height: 1.5em;  
  }

  .gc-buttons {
  text-align: center;
  }

  #gc-content {
  text-align: center;
  padding: 1em 3em;
  border: 1px solid 292825;
  margin: 2em;
  }
  
  .ups_error, td.cert_err {
  background-color: #F6F6E3;
  }

  table.cert_err {
  margin-left: auto;
  margin-right: auto;
  }


/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
  .suckertreemenu {
  height: 18px;
  }

  .suckertreemenu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  }

  .suckertreemenu ul li{
  position: relative;
  display: inline;
  float: left;
  }

  .suckertreemenu ul li a{
  display: block;
  width: 90px;
  text-decoration: none;
  padding: 0px 0px;
  text-align: center;
  }

  .suckertreemenu ul li ul{
  left: 0;
  position: absolute;
  top: 1em;
  display: block;
  visibility: hidden;
  }

  .suckertreemenu ul li ul li {
  display: list-item;
  float: none;
  background-color: #F6F6E3;
  }

  .suckertreemenu ul li ul li ul { 
  left: 159px;
  top: 0;
  }

  .suckertreemenu ul li ul li a {
  display: block;
  width: 160px;
  text-decoration: none;
  line-height: 18px;
  margin: 0px 10px;
  border-right: 0px;
  text-align: left;
  }

* html p#iepara{
  padding-top: 1em;
  }
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
