table.cart td a {color: #292825; text-decoration: underline;}
table.cartfull {width: 100%; margin: 14px 0px; padding: 0px;} table.cartfull td {vertical-align: top;} table.cartfull td table {margin: 0px;}
table.pay_holder, table.instruct, table.checkout_err, .inv_err, table.ups_error, table.checkout, table.google_button, table.gcs_table, table.pcs_table, table.thankyou_err, .cert_err {margin: 0px auto;}
table.cart th {font-size: 90%; padding: 10px 0px 0px 0px;} table.cart {width: 100%;} table.cart td {padding: 3px; background-color: #F6F6E3;}
table.cart td.cart_name, table.cart td.cart_sku, table.cart td.cart_quantity, table.cart td.cart_delete, table.cart td.cart_image, table.cart td.cart_price, table.cart td.cart_total {border-top: 1px solid #FFF;}
.cart_delete, .cart_cp_delete, .cart_quantity, .cart_cp_quantity, table.pxborder table td.cart_delete, table.pxborder table td.cart_cp_delete, table.pxborder table td.cart_quantity, table.pxborder table td.cart_cp_quantity {width: 50px; text-align: center;}
.cart_name, .cart_cp_name, .cart_sku, .cart_cp_sku, .cart_op, select.cart, table.pxborder table td.cart_name, table.pxborder table td.cart_cp_name, table.pxborder table td.cart_sku, table.pxborder table td.cart_cp_sku, table.pxborder table td.cart_op, table.pxborder table td select.cart, div.delete_pay table td {text-align: left; }
.cart_image, .cart_cp_image, .cart_empty, table.pxborder table td.cart_image, table.pxborder table td.cart_cp_image, table.pxborder table td.cart_empty {text-align: center; }
.cart_price, .cart_cp_price, table.pxborder table td.cart_price, table.pxborder table td.cart_cp_price {font-style: italic; text-align: right;}
.cart_total, .cart_cp_total, table.pxborder table td.cart_total, table.pxborder table td.cart_cp_total {text-align: right; white-space: nowrap;}
table.totals {line-height: 150%; float: right; clear: both;}
table.program_reward_hdr {margin: 20px auto;}
table.program_reward_hdr td,table.program_reward_hdr th {padding: 4px;}
table.zipncountry, table.taxnship, table.comm, table.instruct, table.sql_addr {clear: both;}
table.zipncountry td {padding: 10px 4px 0px 0px;}
select.orders, select.shipping, select.payment_accounts {height: 200px; width: 200px; min-width: 200px;}
td.totals_txt, td.totals_saved_txt, td.totals_blank, td.totals_all_txt {text-align: right; padding-right: 15px;}
td.totals, td.totals_saved, td.totals_all {text-align: right; padding-right: 3px;}
td.totals_all, td.totals_all_txt {font-size: 140%;}
td.totals_all, td.totals_all_txt, td.taxnship_hdr, td.instruct_hdr, td.comm_hdr, td.bill_addr_hdr, td.ship_addr_hdr {font-weight: bold;}
div#coupon, div#giftcert {display: block; padding: 20px 0px 10px 0px; text-align: right; clear: both; font-size: 90%;}
div#coupon input, div#giftcert input {max-width: 90px; font-size: 90%;}
td.pay_holder_hdr, td.reg_wel, td.sql_addr_hdr, td.payment_hdr {font-weight: bold;}
td.buttons, td.orderinginstructions, table.instruct {text-align: center;}
td.paymentselection {text-align: center; padding-top: 1em;}
td.payment, td.payment_value, td.reg, td.reg_link, td.taxnship_hdr, td.taxnship {text-align: left;}
table.sql_pay {margin-left: -4px; margin-right: auto;}
td.sql_pay {padding-right: 15px; font-weight: bold;}
td.new_payment_type, table.zipncountry, td.zipncountry, td.zipncountry_text {text-align: left;}
table.reg {padding-bottom: 1em;}
td.coupon, td.buttons, table.taxnship, table.surcharge, td.orderinginstructions {padding-top: 1em;}
td.customer-information {border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; padding: 14px 0px;} td.edit_ship_addr table.addr td.addr, td.edit_ship_addr table.addr td.addr_val, table.pxborder table td {text-align: left;}
td.customer-information td {text-align: left;} table.addr td.addr, table.addr td.addr_val, table.payment td.payment, table.payment td.payment_value {padding: 2px; white-space: nowrap;} table.addr td.addr_val {padding-right: 6px;} table.addr td.addr_val input, table.payment td.payment_value input {max-width: 160px;} td.payment_value, td.addr_val {font-size: 90%;}
td.pad-bottom td.totals_all_txt, td.pad-bottom td.totals_all {padding-bottom: 14px;}
td.sql_addr {padding-right: 15px;} table.taxnship, table.surcharge {text-align: right;}
input.button152, input.button154 {color: #292825;}
div.warning {width: 400px; margin: 0px auto; padding: 5px; border: 1px solid #292825; background-color: #F6F6E3;}
td.checkout_err, .inv_err, table.thankyou_err, .cert_err {background-color: #F6F6E3;}
td.thankyou_err {text-align: left;}
td.ups_error {background-color: #F6F6E3; vertical-align: middle;}
table.checkout {vertical-align: middle; text-align: center;}
td.checkout {padding: 5px; text-align: center;}
table.google_button {vertical-align: middle; text-align: center;}
table.google_button td {vertical-align: middle; text-align: center; padding: 4px;}
.ship_logos {margin: 10px auto;}
.ship_logos td {width: 220px; text-align: center; padding: 3px; vertical-align: top;}
.ship_logos td.ship_img {vertical-align: middle;}
.ship_logos td.ship_text {font-size: 8pt;}
table.icons {width: 100%;}
table.icons td {padding: 30px 0px 10px 0px; vertical-align: middle; text-align: center; width: 50%;}
div#secure-img {padding: 14px 0px 0px 0px; text-align: center;}
span.field_warn {color: red; font-weight: bold;} input.field_warn, select.field_warn {border: 1px solid red; padding: 3px; background: #FFEFEF;}
input[type=submit].button9, input[type=submit].button163 {border: 0px; background: #FFF; font-weight: bold; padding: 0px; margin: 10px 0px;}
input[type=submit].button9:hover, input[type=submit].button163:hover {color: #6F420D;}
input[type=submit].button163 {float: left; clear: none;}
table.email_pw {margin: 20px auto;}
td.email_pw, td.email_pw_select, td.email_pw_note {text-align: left; white-space: nowrap;}
table.pw tr td.pw:last-child {font-size: 90%;}
table.addr_name, table.challenge, table.email_type {margin: 20px 0px 0px 0px;}
table td.addr_name_val {white-space: nowrap;} td.addr_name, td.bill_addr_hdr {padding-right: 20px;}
table.email_type td.email_type_select {width: 5%;} table.email_type td.email_type {width: 95%;}
div.reorder {padding: 20px 0px;}
table.innerleft table.giftcert_type td, table.innerleft table.cert_num_amount td, table.innerleft table.cert_to_from_msg td {padding: 3px; text-align: left;}
table.giftcert_type, table.cert_num_amount, table.cert_to_from_msg {margin: 14px 0px;}
td#gc_email, td#gc_number {border-bottom: 1px solid #FFFFFF;}
 table.prod_border {border-top: 1px dotted #FFFFFF;}
 table.prod_border td.loop_product {border-bottom: 1px dotted #FFFFFF;}
 table.prod_border td.loop2, table.prod_border td.loop4, table.prod_border td.loop5, table.prod_border td.loop7, table.prod_border td.loop8, table.prod_border td.loop9, table.prod_border td.loop11, table.prod_border td.loop12, table.prod_border td.loop13, table.prod_border td.loop14 {border-right: 1px dotted #FFFFFF;}
 table#search_results, table#search_results_border {margin: 10px 0px; padding: 0px;}
 table#search_results_border {border-top: 1px solid #FFFFFF;}
 table#search_results_border td {border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF;}
 table#search_results_border td.noborder {border-right: 0px;}
 table#search_results_border td.loop1, table#search_results_border td.loop4, table#search_results_border td.loop8, table#search_results_border td.loop13, table#search_results_border td.loop19 {border-right: 0px;}
 td.loop_product, table#loop_links td, table#search_results td, table#search_results_border td {vertical-align: top; padding: 8px;}
 .pagination {text-align: center; line-height: 30px;}
 .pagination b, input.search_button_selected {font-weight: bold; font-size: 180%; position: relative; bottom: -4px;}
 .pagination b, input.search_button_selected, .pagination a, #se_table_top input.search_button {padding: 0px 5px;}
 #se_table_top input.search_button_selected, #se_table_top input.search_button {border: 0px; background-color: #FFF;}
 .resultpages {margin-top: 20px; font-weight: bold;}
 .searchcolumns2 a.linkonly {padding: 0px 5px; text-decoration: none;}
 .searchcolumns1 a.linkonly, .searchcolumns3 a.linkonly, .searchcolumns4 a.linkonly, .searchcolumns5 a.linkonly {display: block; text-decoration: none; padding: 2px 0px;}
 .searchcolumns1 a.linkonly {white-space: nowrap;}
 a.se_pr_img {display: block; text-align: center;}
 td.se_perpage, td.se_sort {text-align: right;}
 div.se_result_count {float: right; clear: none; width: 100px; overflow: visible; text-align: right;}
