
 html {}
 body {
	padding: 0px;
	margin: 0px;
	text-align: center;
 }
 body, td, th {
        font-family: Calibri,Candara,Corbel,Arial,Verdana,sans-serif;
	font-size: 11pt;
 }
 .full {padding: 0px; margin: 0px;} .clear {clear: both;} .full, .unfloat {clear: both; display: block;} hr {clear: both;}
 .nobr {white-space: nowrap;} a {outline: 0px;}
 .hidden {
	margin: 0px;
	padding: 0px;
	visibility: hidden;
	height: 0px;
	max-height: 0px;
 }
 tbody {padding: 0px; margin: 0px;}
 hr {
	border: 0px;
	height: 1px;
	color: #D7D7D7;
	background-color: #D7D7D7;
	width: 100%;
 }
 p {margin: 0px; padding: 5px 0px;}
 h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 5px 0px;
 }
 h1 {font-size: 130%;}
 h2 {font-size: 120%;}
 h3 {font-size: 100%; padding: 10px 10px 3px 10px; color: #292825;}
 h4, h5 {font-size: 100%;}
 #texta {
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 28px;
 }
 #texta div {
	padding: 0px;
	margin: 0px auto;
	clear: both;
	text-align: left;
	line-height: 200%;
	font-size: 90%;
	color: #FFFFFF;
 }
 #texta div a {
	padding: 0px 8px;
	text-decoration: none;
	color: #FFFFFF;
 }
 #texta div a.social_follow {
	float: right;
	padding: 0px;
 }
 #texta div.MiniCart {
	white-space: nowrap;
	clear: none;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	width: 100px;
	float: right;
 }
 #texta a.mini-icon img {
	position: relative;
	top: 4px;
 }
 #image1, #image2 {
	text-align: center;
	display: block;
 }
 #left_side #image1 a, #left_side #image2 a, #right_side #image2 a {
	padding: 0px;
	margin: 3px auto;
	text-align: center;
 }
 img.social_follow {
	padding: 2px 5px;
	margin: 0px;
	border: 0px;
 }
 #container {
	margin: 0px auto;
	padding: 0px;
 }
 #logo {
	text-align: left;
	width: 100%;
 }
 #logo img {border: 0px;}
 #header {
	min-height: 70px;
	clear: both;
 }
 #header_img {
	text-align: left;
	width: 100%;
 }
 #header_img img {border: 0px;}
 #header h1, #header-shadow h1 {font-size: 300%;}
 #header h1 span, #header-shadow h1 span {
	display: block;
	font-size: 40%;
	font-weight: normal;
	position: relative;
	top: -16px;
 }
 #payment_icos {
	text-align: center;
	padding: 0px 20px;
 }
 td#search_area {
	text-align: center;
	vertical-align: middle;
 }
 table#search_tbl {
	border-collapse: separate;
	border-spacing: 4px;
	background-color: #F6F6E3;
 }
 input#search_field {
	font-size: 110%;
	width: 180px;
        background: #FFFFFF url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/search_field_bg.jpg) no-repeat 2px 1px;
        padding-left: 24px;
	border: 0px;
 }
 td#search_tbl_button {background-color: #037F8F;}
 td#search_tbl_button input {
	display: block;
	padding: 3px;
	text-decoration: none;
	color: #FFFFFF;
	margin: 0px;
	background-color: #037F8F;
	border: 0px;
 }
 #search_area .MiniCart {
	white-space: nowrap;
	clear: none;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
 }
 #search_area .MiniCart a, #texta .MiniCart a {padding: 0px 3px;}
 #content_tbl, #content_tbl_full {
	min-height: 300px;
	border-collapse: collapse;
	border-spacing: 0px;
 }
 #left_side {vertical-align: top;}
 table#content_tbl #center_area {
	vertical-align: top;
	width: 100%;
	padding: 0px 10px 10px 10px;
        text-align: left;
        height: 300px;
 }
 table#content_tbl_full #center_area {
	vertical-align: top;
	width: 100%;
	padding: 0px;
        text-align: center;
        height: 300px;
 }
 #content_tbl_full #content_area div.billing, #content_tbl_full #content_area div.confirmation, #content_tbl_full #center_area div.thankyou {
        text-align: center;
        margin: 0px auto;
 }
 div.billing_inner, div.confirmation_inner, div.thankyou_inner {
        padding: 0px 20px;
        margin: 0px auto;
        text-align: left;
 }
 a.fb_share, a.twtr_share {padding: 0px 4px 0px 0px;}
 span.pin-it-button {display: inline-block; width: 45px; overflow: hidden;}
 div.fb_share {display: inline-block; width: 58px; overflow: hidden;}
 div.twtr_share {display: inline-block; width: 88px; overflow: hidden;}
 div#plusone {display: inline-block; width: 75px; overflow: hidden;}
 img.social_follow {float: right; padding: 0px 2px;}
 span.share {
	float: right;
	width: 140px;
	text-align: right;
	padding-right: 5px;
 }
 img.pg_img {
	padding: 0px 5px 5px 5px;
 }
 #right_side {
	vertical-align: top;
 }
 #left_side div, #right_side div {
	min-width: 160px;
	width: 160px;
	max-width: 160px;
	padding: 0px;
	overflow: hidden;
 }
 #left_side div a, #right_side div a, #left_side div input.side_signin, #right_side div input.side_signin, #left_side div.left_pagelinks span, #right_side div.right_pagelinks span, #left_side div.left_pagelinks strong, #right_side div.right_pagelinks strong {
	display: block;
	padding: 2px 10px;
	text-align: left;
	text-decoration: none;
	font-size: 94%;
 }
 #left_side div input.side_signin, #right_side div input.side_signin {
	border: 0px;
	margin: 0px;
	background-color: #FFFFFF;
 }
 #left_side input.email_pw, #right_side input.email_pw {
	font-size: 90%;
	margin: 4px 0px;
	width: 146px;
 }
 #right_side a.mini-txt {
	visibility: hidden;
	height: 0px;
	max-height: 0px;
	width: 0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
 }
 span.cr_title {
	display: block;
	font-size: 80%;
	font-weight: bold;
	text-align: left;
	padding: 2px 8px;
 }
 #right_side table#mini-detail {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	margin: 0px;
	width: 100%;
 }
 body #right_side table#mini-detail td {
	padding: 3px;
 }
 body #right_side div.MiniCart table#mini-detail td, body #right_side div.MiniCart table#mini-detail a, body #right_side div.MiniCart table#mini-detail tr {
	font-size: 86%;
 }
 table#mini-detail td.mini-pr-txt, table#mini-detail td.mini-qt-txt, table#mini-detail td.mini-pc-txt {
	font-weight: bold;
 }
 table#mini-detail td.mini-pr-txt, table#mini-detail td.mini-pr {
	text-align: left;
 }
 table#mini-detail td.mini-qt-txt, table#mini-detail td.mini-qt {
	text-align: center;
 }
 table#mini-detail td.mini-pc-txt, table#mini-detail td.mini-pc, table#mini-detail td.mini-sub-txt, table#mini-detail td.mini-sub {
	text-align: right;
 }
 table#mini-detail td.mini-sub-txt a, table#mini-detail td.mini-sub a {
	text-decoration: none;
	font-weight: bold;
 }
 #viewyourcart {
	display: block;
	text-align: right;
	padding: 5px 0px 20px 0px;
 }
 #viewyourcart img {
	border: 0px;
 }
 #social_tbl #newsletter {
	width: 100%;
	white-space: nowrap;
 }
 #social_tbl #newsletter td {
	font-weight: bold;
	color: #292825;
 }
 #social_tbl td#newsletter_field {
	padding-left: 10px;
 }
 #social_tbl #newsletter_submit input {
	font-weight: bold;
	font-size: 90%;
	color: #292825;
	background: transparent;
	border: 0px;
 }
 #social_tbl #networks {
	white-space: nowrap;
 }
 #footer_tbl {
	padding: 8px;
 }
 #footer_tbl div, #footer_tbl div.footer_pagelinks {
	width: 170px;
	float: left;
	clear: none;
	padding: 0px;
	margin: 0px;
        text-align: left;
 }
 #footer_tbl div a {
	display: block;
	padding: 1px 8px;
	font-size: 90%;
	text-decoration: none;
 }
 #footer_tbl div h3 {
	font-size: 90%;
	padding: 1px;
 }
 #footer #payment_icos_foot {
	text-align: right;
 }
 #seo_footer {
	font-size: 90%;
	padding: 10px 0px;
 }
 #seo_footer p, #seo_footer a, #seo_footer a:link, #seo_footer a:visited, #seo_footer a:active {
	padding-top: 0px;
	color: #FFFFFF;
	text-decoration: none;
 }
 #seo_footer h1 {
	font-size: 90%;
	padding-bottom: 0px;
 }
 #base_store_info {
	padding: 6px 0px 30px 0px;
 }
 #base_store_info .left {
	text-align: left;
	float: left;
	clear: none;
	font-size: 90%;
	text-indent: 10px;
 }
 #base_store_info .right {
	text-align: right;
	float: right;
	clear: none;
	font-size: 90%;
	text-indent: 10px;
 }
 div.ss_secure_image {
	clear: both;
	width: 100%;
	text-align: right;
	padding: 0px;
	margin: 10px auto;
 }
 table#loop_prod, table#loop_links, table#gbl_crs_sell_home, table#mi_crs_sell {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 10px 0px;
	padding: 0px;
 }
 table#gbl_crs_sell_right {
	width: 160px;
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 0px;
 }
 #right_side table#gbl_crs_sell_right td a {
	text-align: center;
 }
 table#search_results, table#search_results_border {
	margin: 10px 0px;
	padding: 0px;
 }
 table#search_results_border {
	border-top: 1px solid #D7D7D7;
 }
 table#search_results_border td {
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
 }
 table#search_results_border td.noborder {
	border-right: 0px;
 }
 table#search_results_border td.loop1, table#search_results_border td.loop4, table#search_results_border td.loop8, table#search_results_border td.loop13, table#search_results_border td.loop19 {
	border-right: 0px;
 }
 td.loop_product, table#loop_links td, table#search_results td, table#search_results_border td {
	vertical-align: top;
	padding: 8px;
 }
 table#loop_links .linkwrapOn {
	text-align: left;
 }
 table#loop_links .linkwrapOn img {
	float: left;
	padding: 0px 8px 0px 0px;
 }
 .pr_img {
	display: block;
	min-height: 158px;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	clear: both;
 }
 .pr_img_left {
	display: block;
	min-height: 158px;
	width: 158px;
        float: left;
        text-align: left;
	padding: 0px;
	margin: 0px;
	clear: none;
 }
 .pr_img_right {
	display: block;
	min-height: 158px;
	width: 158px;
        float: right;
        text-align: right;
	padding: 0px;
	margin: 0px;
	clear: none;
 }
 .pr_img_clear {
        clear: both;
        width: 100%;
 }
 .pr_img img {
	border: 0px;
	margin: 0px;
	padding: 4px 0px;
 }
 a.pr_nme, span.pr_nme {
	display: block;
	min-height: 30px;
 }
 a.lk_nme, a.lk_img {
	display: block;
	font-weight: bold;
	padding: 3px;
 }
 .lk_txt {
	font-size: 80%;
 }
 .pr_sku {
	color: #F6F6E3;
 }
 .pr_desc {
	display: block;
	min-height: 50px;
	color: #F6F6E3;
 }
 .pr_prc {
	display: block;
	min-height: 30px;
	line-height: 28px;
 }
 .pr_prc_alt {
	display: block;
	position: relative;
	top: -25px;
 }
 .pr_prc strike, .pr_prc_alt strike {
	font-weight: normal;
	padding: 0px 6px 0px 0px;
	font-size: 80%;
 }
 .pr_prc span, .pr_prc_alt span, table.qp_header td.qp_saletxt, table.qp_header td.qp_sale {
	color: #6F420D;
 }
 table.qp_header {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	border-top: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	margin: 8px auto;
 }
 table.qp_header td {
	padding: 3px;
	font-size: 90%;
	white-space: nowrap;
	border-right: 1px solid #D7D7D7;
 }
 table.qp_header td.qp_quantitytxt, table.qp_header td.qp_pricetxt, table.qp_header td.qp_saletxt, table.qp_header td.qp_quantity {
	font-weight: bold;
 }
 table.qp_header td.qp_quantity, table.qp_header td.qp_price, table.qu_header td.qp_sale {
	text-align: center;
 }
 .Big {font-size: 110%;}
 .Small {font-size: 86%;}
 .Bold {font-weight: bold;}
 .Italic {font-style: italic;}
 .Typewriter {font-family: Courier New, Courier, monospace;}
 .left {text-align: left;}
 .right {text-align: right;}
 .center {text-align: center;}

 table.prod_border {
	border-top: 1px dotted #D7D7D7;
 }
 table.prod_border td.loop_product {
	border-bottom: 1px dotted #D7D7D7;
 }
 table.prod_border td.loop2, table.prod_border td.loop4, table.prod_border td.loop5, table.prod_border td.loop7, table.prod_border td.loop8, table.prod_border td.loop9, table.prod_border td.loop11, table.prod_border td.loop12, table.prod_border td.loop13, table.prod_border td.loop14 {
	border-right: 1px dotted #D7D7D7;
 }
 .pagination {
	text-align: center;
	line-height: 30px;
 }
 .pagination b, input.search_button_selected {
	font-weight: bold;
	font-size: 180%;
	position: relative;
	bottom: -4px;
 }
 .pagination b, input.search_button_selected, .pagination a, #se_table_top input.search_button {
	padding: 0px 5px;
 }
 #se_table_top input.search_button_selected, #se_table_top input.search_button {
	border: 0px;
	background-color: #D7D7D7;
 }
 .resultpages {
	margin-top: 20px;
	font-weight: bold;
 }
 .searchcolumns2 a.linkonly {
	padding: 0px 5px;
	text-decoration: none;
 }
 .searchcolumns1 a.linkonly, .searchcolumns3 a.linkonly, .searchcolumns4 a.linkonly, .searchcolumns5 a.linkonly {
	display: block;
	text-decoration: none;
	padding: 2px 0px;
 }
 .searchcolumns1 a.linkonly {
	white-space: nowrap;
 }
 a.se_pr_img {
	display: block;
	text-align: center;
 }
 td.se_perpage, td.se_sort {
	text-align: right;
 }
 div.se_result_count {
	float: right;
	clear: none;
	width: 100px;
	overflow: visible;
	text-align: right;
 }
 #breadcrumbs {
	line-height: 46px;
	text-align: right;
	font-size: 90%;
 }
 #breadcrumbs a.crumb {float: left; padding: 0px;}
 #breadcrumbs span {float: left; padding: 0px 10px;}
 #breadcrumbs span.pin-it-button {float: none; padding: 0px;}
 #mi_info {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
 }
 #mi_info td#mi_img {
	vertical-align: top;
	text-align: center;
	padding-right: 16px;
 }
 #mi_info td#mi_add {
	vertical-align: top;
	text-align: left;
	width: 100%;
 }
 span#ss_inv {display: block; font-weight: bold; line-height: 26px;}
 span.ss_in_stock {color: green;}
 span.ss_out_of_stock, span.ss_low_stock {color: red;}
 #mi_add .pr_prc {font-size: 160%;}
 .prod_img {border: 1px solid #D7D7D7; text-align: center; clear: both;}
 .row_img {clear: both;}
 .row_img img {border: 0px;}
 #pr_mi_add {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	width: 100%;
	padding: 0px;
	margin: 5px 0px;
 }
 #pr_mi_add td {
	padding: 0px;
	margin: 0px;
        border: 0px;
	background-color: #D7D7D7;
 }
 #pr_mi_add td img {
	padding: 0px;
	margin: 0px;
        border: 0px;
 }
 #pr_mi_add td#pr_mi_add_info {
	padding: 4px 10px;
	text-align: left;
 }
 input.add {float: right; clear: none;}
 input.add_pr {margin-top: 4px; margin-bottom: 4px;}
 #mi_lower {margin: 10px 0px;}
 td.corner-1a {
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	background-color: #D7D7D7;
 }
 td.corner-1b {border-top: 1px solid #D7D7D7;}
 td.corner-1c {border-top: 1px solid #FFFFFF; background-color: #D7D7D7;}
 td.corner-1d {width: 100%;}
 td.corner-2a {border-left: 1px solid #D7D7D7;}
 td.corner-2b {
	white-space: nowrap;
	font-weight: bold;
	padding: 4px 8px;
 }
 td.corner-2d {
	border-left: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
 }
 td.corner-3 {
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	padding: 8px;
 }
 .reviews-brief {font-size: 90%; white-space: nowrap; display: block;}
 .reviews-brief div.reviews_stars {height: 20px; max-height: 20px; overflow: hidden; padding: 2px 0px;}
 .reviews-brief span.reviews_stars_text, .reviews-brief span.review_product_name, .reviews-brief span.review_microdata_count, span.review_microdata_wrapper span.review_product_name, span.review_microdata_wrapper span.review_microdata_count, div.review span.review_product_name {display: none;}
 .reviews-brief a, div#reviews-more a {text-decoration: underline;}

 div#reviews-more span.reviews_stars_text {padding: 0px 6px 0px 0px;}
 .pcs_product_table span.reviews-brief, .gcs_product_table span.reviews-brief {width: 80px; margin: 0px auto;}
 div#reviews-more {border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; padding: 14px 0px; margin: 0px auto;}
 div#reviews-more div.reviews_stars, div#reviews-more span.reviews_stars_text, div#reviews-more div.reviews_stars_wrapper, div#reviews-more div.reviews_count {display: inline-block; line-height: 20px;}
 div#reviews-more div.reviews_stars_wrapper {height: 16px; max-height: 16px; overflow: hidden; padding: 0px; display: inline-block; width: 80px; position: relative; top: 3px;}
 div#reviews-more h4 {padding: 22px 0px 4px 0px; margin: 0px; font-weight: bold;}
 span.review_title {font-weight: bold; padding: 0px 8px;}
 div#reviews-more div.review {border-top: 1px solid #FFFFFF; padding: 14px 0px;}
 div#reviews-more span.review_author_text, div#reviews-more span.review_author, div#reviews-more span.review_date {line-height: 150%;}
 td.pcs_product_image, td.gcs_product_image {height: 150px;}
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
 .suckertreemenu {
	padding: 0px;
	margin: 0px;
	height: 32px;
 }
 .suckertreemenu ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
 }
 .suckertreemenu ul li {
        position: relative;
        display: inline;
        float: left;
 }
 .suckertreemenu ul li a {
        min-width: 130px;
        display: block;
        padding: 0px 8px;
        text-decoration: none;
	line-height: 32px;
	font-weight: bold;
	text-align: center;
 }
 .suckertreemenu ul li ul {
        left: 0px;
        position: absolute;
        top: 1em;
        display: block;
        visibility: hidden;
 }
 .suckertreemenu ul li ul li {
        display: list-item;
        float: none;
 }
 .suckertreemenu ul li ul li ul { 
        left: 109px;
        top: 0px;
 }
 .suckertreemenu ul li ul li a {
        display: block;
        text-decoration: none;
        padding: 0px 8px;
	line-height: 24px;
	text-align: left;
	font-weight: normal;
 }
* html p#iepara {
        padding-top: 1em;
}
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
 table.pay_holder, table.checkout_err, .inv_err, table.ups_error, table.checkout, table.google_button, table.gcs_table, table.pcs_table {
	margin: 0px auto;
 }
 table.cart {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	margin: 10px 0px 0px 0px;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
 }
 th {
	text-align: center;
	background-color: #F6F6E3;
	color: #FFFFFF;
	padding: 3px;
 }
 th.cart_name {
	text-align: left;
 }
 th.cart_total {
	text-align: right;
 }
 table.cart td {
	padding: 4px;
	text-align: center;
	border-top: 1px solid #D7D7D7;
 }
 table.cart td.cart_op, table.cart td.cart_op1, table.cart td.cart_op2, table.cart td.opt_cart, table.cart .giftcert {
	border-top: 0px;
 }
 td.cart_delete, td.cart_cp_delete, td.cart_quantity, td.cart_cp_quantity {
	width: 60px;
 }
 table.cart td.cart_name, table.cart td.cart_cp_name {
	text-align: left; 
 }
 td.cart_price, td.cart_cp_price {
	font-style: italic;
 }
 table.cart td.cart_total, table.cart td.cart_cp_total {
	text-align: right; 
	white-space: nowrap;
 }
 table.cart td.cart_op, table.cart select.cart {
	text-align: left; 
 }
 table.fullcart {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 10px 0px;
 }
 table.fullcart td {
	vertical-align: top;
 }
 table.fullcart td.totalscoup {
	text-align: right;
 }
 table.totals {
	vertical-align: middle; 
 }
 table.totals td {
	margin-right: 0px;
	text-align: right;
	padding-left: 10px;
	white-space: nowrap;
 }
 td.totals_all, td.totals_all_txt, td.coupcap, td.instruct_hdr, td.comm_hdr, td.pay_holder_hdr, td.bill_addr_hdr, td.ship_addr_hdr, td.payment_hdr {
	font-weight: bold;
 }
 #sc_checkout td#gc_info {
	padding: 0px 20px;
 }
 #sc_checkout {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	padding: 0px;
	margin: 5px 0px 5px auto;
 }
 #sc_checkout td {
	padding: 0px;
	margin: 0px;
	background-color: #D7D7D7;
 }
 #sc_checkout td#sc_checkout_info {
	padding: 10px 20px;
	text-align: center;
	font-weight: bold;
 }
 #sc_checkout p {
	padding: 0px 0px 10px 0px;
 }
 table.addr {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 8px auto;
 }
 table.addr td {
	width: 50%;
	padding: 0px 20px;
	vertical-align: top;
	text-align: center;
 }
 td.conf_addr table.addr td {
	padding: 0px;
 }
 table.addr td table td {
	text-align: left;
	white-space: nowrap;
	padding: 2px 3px;
 }
 table.payment {
	margin: 8px auto;
	border-collapse: collapse;
	border-spacing: 0px;
 }
 table.payment td {
	white-space: nowrap;
	padding: 2px 3px;
	text-align: left;
 }
 td.conf_addr, td.conf_pay {
	text-align: left;
	vertical-align: top;
	width: 50%;
	padding-left: 30px;
 }
 td.conf_addr {
	border-right: 1px solid #D7D7D7;
 }
 td.conf_addr table.addr, td.conf_pay table.payment {
	margin: 8px 0px;
 }
 table.addr_name {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
 }
 table.addr_name td {
	padding: 2px 4px 2px 0px;
 }
 p.button {
	text-align: center;
	white-space: nowrap;
 }
 #email_content {
	width: 700px;
	margin: 10px auto;
	padding: 16px;
	border: 1px solid #D7D7D7;
	clear: both;
	background-color: #FFFFFF;
 }
 table.sec_image {
	margin: 5px auto;
	padding: 0px;
	text-align: center;
	border: 0px;
 }
/***  Table of Registration  ***/
table.reg {
  vertical-align: middle; 
  border-spacing: 0;
  padding-bottom: 1em;
}
td.reg_wel {
  font-weight: bold;
}
td.reg, td.reg_link {
  text-align: left;
}
td.coupon {
  padding-top: 1em;
}
td.buttons {
  text-align: center;
  padding-top: 1em;
}
/*** Enter postal code, select country ***/
table.zipncountry, td.zipncountry, td.zipncountry_text {
  text-align: left;
}
td.sql_addr_hdr {
  font-weight: bold;
}
td.sql_addr {
  padding-right: 15px;
}
/*** select shipping method, tax rate ***/
table.taxnship, table.surcharge { 
  text-align: right;
  padding-top: 1em;
}
td.taxnship_hdr {
  font-weight: bold;
  text-align: left;
}
td.taxnship {
  text-align: left;
}
 table.surcharge { 
	text-align: right;
 }
 input.button152, input.button154 { 
	cursor: pointer;
 }
 div.warning_img {
	float: left;
	width: 32px;
	height: 32px;
	clear: none;
 }
 div.warning {
	width: 500px;
	margin: 0px auto 20px auto;
	padding: 8px;
	border: 1px solid #292825;
	background-color: #D7D7D7;
 }
 div.warning_text {
	float: right;
	clear: none;
	margin: 0px 0px -30px 44px;
	padding: 0px;
	position: relative;
	top: -30px;
 }
 div.warning_text p, div.unfloat {
	padding: 0px;
	margin: 0px;
	height: 0px;
 }
 td.checkout_err, .inv_err {
	background-color: #D7D7D7;
 }
 td.ups_error {
	background-color: #D7D7D7;
 }
/* Checkout Button Table */
table.checkout {
  vertical-align: middle;
  text-align: center;
}
td.checkout {
  padding: 5px;
  text-align: center;
}
table.google_button {
  vertical-align: middle;
  text-align: center;
}
table.google_button td {
  vertical-align: middle;
  text-align: center;
  padding: 4px;
}
/* Cross-sell Stuff */
td.gcs_table, td.pcs_table {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
table.gcs_table, table.pcs_table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.gcs_table caption, table.pcs_table caption {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
td.gcs_table_content, td.pcs_table_content {
  width: 25%;
}
/* Cross-sell Contents */
table.gcs_product_table, table.pcs_product_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
td.gcs_product_name, td.pcs_product_name {
  text-align: center;
  font-weight: bold;
}
td.gcs_product_image, td.pcs_product_image {
  text-align: center;
}
td.gcs_product_image img, td.pcs_product_image img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
td.gcs_product_price, td.pcs_product_price, td.gcs_product_add_to_cart, td.pcs_product_add_to_cart, td.sc_secure_image {
  text-align: center;
}
td.gcs_product_add_to_cart a, td.pcs_product_add_to_cart a {
  font-weight: bold;
}
td.gcs_product_add_to_cart img, td.pcs_product_add_to_cart img {
  border: 0px none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.ship_logos {
  margin: 10px auto;
}
.ship_logos td {
  width: 220px;
  text-align: center;
  padding: 3px;
  vertical-align: top;
}
.ship_logos td.ship_img {
  vertical-align: middle;
}
.ship_logos td.ship_text {
  font-size: 8pt;
}
span.field_warn {color: red; font-weight: bold;} input.field_warn, select.field_warn {border: 1px solid red; padding: 3px; background: #FFEFEF;}
 #gc_tbl {
	margin: 0px auto 20px auto;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
 }
 table.giftcert_type td, table.cert_num_amount td, table.cert_to_from_msg td {
	padding: 3px;
	text-align: left;
 }
 td#gc_email, td#gc_number, td#gc_message {
	border-bottom: 1px solid #D7D7D7;
	padding: 16px 40px;
 }
 table.cart td.giftcert {text-align: left;}
 .program_reward_hdr, .program_reward {color: #292825;}
 input.button168, input.button170, input.button172 {float: right;}
 #view_order {width: 80%;}
 #view_order table.cart td.cart_op2 {
	display: none;
	width: 0px;
	background-color: #F4ECCE;
 }
 #view_order table.addr td {text-align: left;}
 .pxborder, p.delete_ship_addr table {border-width: 1px; border-style: solid; padding: 10px;}
 table.innerleft td {padding: 10px 5px 15px 5px;}
 table.innerleft table {margin: auto 0px;}
 table.innerleft table td {padding: 1px; text-align: center;}
 table.email_type td.email_type, table.email_type td.email_type_text, table.save_payment td.save_payment, table.save_payment td.save_payment_text {width: 95%;}
 td#edit_ship_addr td.addr {text-align: right;}
 table.innerleft td, table.email_type td.email_type, table.email_type td.email_type_text, table.save_payment td.save_payment, table.save_payment td.save_payment_text, td#edit_ship_addr td.addr_val, p.delete_ship_addr table td {text-align: left;}
 table.email_pw td {white-space: nowrap;}
