
 html {margin: 0px auto;}
 body {
    background-repeat: repeat-x;
    background-position: top center;
    padding: 0px 0px 20px 0px;
    margin: 0px auto;
 }
 #content {
    background-color: #FFFFFF;
    padding: 10px;
 }
 #content_tbl {
    padding: 0px 10px;
 }
 body #container {
    width: 906px;
    padding: 4px 0px 0px 0px;
    margin: 0px auto;
    min-height: 4px;
 }
 body #texta {
    width: 906px;
    margin: 0px auto;
    padding: 0px;
    clear: both;
 }
 body #texta div, body #texta div a {
    padding: 0px;
    text-indent: 10px;
    color: #292825;
 }
 #texta div.MiniCart {
    background-image: url(../media/themesmedia/spacer.gif);
    position: relative;
    left: -20px;
 }
 #footer_tbl td {
    padding: 8px;
 }
 #header_tbl, #content_tbl, #content_tbl_full, #social_tbl, #footer_tbl, ul#ShopSite, #base_store_info, #texta div {
    width: 100%;
 }
 #header_tbl {
    height: 100px;
    padding: 10px;
 }
 #header h1, #header-shadow h1 {
    font-size: 300%;
 }
 #social {
    background-color: #FFFFFF;
    padding: 0px 10px 10px 10px;
 }
 #left_side div.left_pagelinks {
    _padding-left: 10px;
 }
 #left_side div.left_pagelinks, #right_side div.right_pagelinks {
    margin-bottom: 10px;
    padding-bottom: 8px;
 }
 #left_side a.left_pagetitle, #left_side .left_pagetitle, #right_side a.right_pagetitle, #right_side .right_pagetitle, #footer a.footer_pagetitle {
    padding-top: 8px;
    color: #99421A;
 }
 #left_side a.left_pagelink, #right_side a.right_pagelink, span.pr_desc, span.pr_sku, #footer a.footer_pagelink, .program_reward_order {
    color: #292825;
 }
 #left_side a.left_pagelink:hover, #right_side a.right_pagelink:hover, #footer a.footer_pagelink:hover, #footer a.footer_pagetitle:hover {
    color: #037F8F;
 }
 #left_side a.left_pagetitle, #right_side a.right_pagetitle, #footer a.footer_pagetitle, #right_side h3 {
    font-weight: bold;
    font-size: 100%;
 }
 .pr_prc span {
    color: #F6F6E3;
 }
 #right_side h3 {
    text-align: left;
 }
 table#gbl_crs_sell_right {
    padding: 0px 8px;
 }
 table#gbl_crs_sell_right td {
    background-color: #FFFFFF;
 }
 table#mini-detail td.mini-pr-txt, table#mini-detail td.mini-qt-txt, table#mini-detail td.mini-pc-txt {
    background: #6F420D;
    color: #FFFFFF;
 }
 table#mini-detail td.mini-pr-txt {
    border-left: 1px solid #6F420D;
 }
 table#mini-detail td.mini-pc-txt {
    border-right: 1px solid #6F420D;
 }
 .suckertreemenu {
    height: 32px;
    margin: 0px auto;
    padding: 10px 10px 0px 10px;
    clear: both;
    background-color: #FFFFFF;
 }
 ul#ShopSite {
    height: 32px;
    margin: 0px;
    padding: 0px;
    background: #6F420D;
 }
 .suckertreemenu li ul {
    padding: 5px;
    top: -4px;
 }
 .suckertreemenu a, .suckertreemenu a:link, .suckertreemenu a:active, .suckertreemenu a:visited {
    color: #FFFFFF;
 }
 .suckertreemenu li:hover, .suckertreemenu li ul, .suckertreemenu li ul li ul li:hover, .suckertreemenu li ul li ul li ul, .suckertreemenu li ul li ul li ul li ul li:hover, .suckertreemenu li ul li ul li ul li ul li ul {
    background-color: #037F8F;
 }
 .suckertreemenu li ul li:hover, .suckertreemenu li ul li ul, .suckertreemenu li ul li ul li ul li:hover, .suckertreemenu li ul li ul li ul li ul {
    background-color: #99421A;
    color: #FFFFFF;
 }
 #header h1 span, #header-shadow h1 span, #header a, #header a:visited, #header a:active, #header-shadow a, #header-shadow a:visited, #header-shadow a:active {
    color: #99421A;
 }
 #footer div#payment_icos_foot {
    float: right;
 }
 div.ss_secure_image {
    width: 906px;
    margin: 0px auto;
 }
 table.cart th {
    background-color: #FFFFFF;
    color: #292825;
    border-top: 1px solid #D7D7D7;
 }
 table.cart td {
    background-color: #F6F6E3;
 }
 input.button6 {
    padding-top: 8px;
 }
 div.billing, div.confirmation, div.thankyou {
    width: 906px;
 }
