
 html {}
 #container, #texta div {
    width: 906px;
    margin: 0px auto;
 }
 #footer_tbl, #header_tbl, #content_tbl, #base_store_info, #social_tbl {
    width: 100%;
 }
 #texta {
    background-color: #F6F6E3;
    border-bottom: 1px solid #D7D7D7;
    width: 100%;
 }
 #header_tbl {
    height: 100px;
 }
 #content_tbl, #content_tbl_full #center_area div.billing_inner, #content_tbl_full #center_area div.confirmation_inner, #content_tbl_full #center_area div.thankyou_inner {
    border: 1px solid #D7D7D7;
 }
 #left_side {
    border-right: 1px solid #D7D7D7;
    background-color: #F6F6E3;
 }
 #right_side {
    border-left: 1px solid #D7D7D7;
    background-color: #F6F6E3;
 }
 #left_side div.left_pagelinks, #right_side div.right_pagelinks, #right_side div.MiniCart, table#gbl_crs_sell_right {
    margin: 6px 0px 14px 0px;
 }
 body #texta div, #left_side a, #left_side a:link, #left_side a:active, #left_side a:visited, #right_side a, #right_side a:link, #right_side a:active, #right_side a:visited, #footer a, #footer a:link, #footer a:visited, #footer a:active {
    color: #292825;
 }
 #left_side a:hover, #right_side a:hover, #footer a:hover {
    color: #037F8F;
 }
 #left_side a.left_pagetitle, #right_side a.right_pagetitle, #footer a.footer_pagetitle, #right_side h3 {
    font-weight: bold;
    font-size: 100%;
 }
 #right_side h3 {
    text-align: left;
 }
 table#gbl_crs_sell_right {
    padding: 0px 8px;
 }
 table#gbl_crs_sell_right td {
    background-color: #FFFFFF;
 }
 table#mini-detail td.mini-pr-txt, table#mini-detail td.mini-qt-txt, table#mini-detail td.mini-pc-txt {
    background: #6F420D;
    color: #FFFFFF;
 }
 table#mini-detail td.mini-pr-txt {
    border-left: 1px solid #6F420D;
 }
 table#mini-detail td.mini-pc-txt {
    border-right: 1px solid #6F420D;
 }
 .suckertreemenu {
    background: #037F8F url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/flex-build/standard-green.jpg) repeat-x top left;    height: 32px;
    margin: 8px auto 0px auto;
    padding: 0px;
    clear: both;
 }
 .suckertreemenu ul ul {
    background: #99421A url(../media/themesmedia/spacer.gif);
 }
 .suckertreemenu a, .suckertreemenu a:link, .suckertreemenu a:active, .suckertreemenu a:visited {
    color: #FFFFFF;
 }
 .suckertreemenu li:hover, .suckertreemenu li ul, .suckertreemenu li ul li ul li:hover, .suckertreemenu li ul li ul li ul, .suckertreemenu li ul li ul li ul li ul li:hover, .suckertreemenu li ul li ul li ul li ul li ul {
    background-color: #037F8F;
 }
 .suckertreemenu li ul {
    padding: 5px;
    top: -4px;
 }
 .suckertreemenu li ul li:hover, .suckertreemenu li ul li ul, .suckertreemenu li ul li ul li ul li:hover, .suckertreemenu li ul li ul li ul li ul {
    background-color: #6F420D;
 }
 #header h1 span, #header-shadow h1 span, #header a, #header a:visited, #header a:active, #header-shadow a, #header-shadow a:visited, #header-shadow a:active {
    color: #99421A;
 }
 #content_tbl_full, div.billing, div.confirmation, div.thankyou {
    width: 906px;
    margin: 0px auto;
 }
 #footer div#payment_icos_foot {
    float: right;
 }
 div.ss_secure_image {
    width: 906px;
    margin: 0px auto;
 }
 table.cart th {
    background-color: #FFFFFF;
    color: #292825;
    border-top: 1px solid #D7D7D7;
 }
 table.cart td {
    background-color: #F6F6E3;
 }
