 #mu-main {
   border-left: 3px solid #F6F6E3;
   border-right: 3px solid #F6F6E3;
   margin: 0px auto;
   background-color: #F6F6E3;
 }
 #mu-header {
   color: #FFFFFF;
   padding: 10px;
   text-align: left;
   clear: both;
 }
 #mu-header h1 {
   color: #FFFFFF;
 }
 #mu-header a, #mu-header a:visited, #mu-header, #mu-submenu a:hover, #mu-headerspecials .search_submit, #mu-footer a, #mu-footer a:visited {
   color: #F6F6E3;
 }
 #mu-headerspecials {
   float: right;
   width: 500px;
   margin: 0px;
   padding: 5px;
   text-align: right;
   white-space: nowrap;
   overflow: hidden;
   min-height: 30px;
 }
 #mu-headerspecials .search {
   width: 150px;
   font-size: 84%;
   padding: 0px 1px;
 }
 #mu-headerspecials a {
   font-size: 100%;
   padding: 0px 15px;
   text-decoration: none;
 }
 #mu-headerspecials .search_submit {
   border-style: solid;
   border-width: 1px;
   background-color: transparent;
 }
 .search_submit, .suckertreemenu ul li ul {
   border-color: #F6F6E3;
 }
 #mu-menu {
   border-top: 1px solid #F6F6E3;
   padding: 0px 10px;
   background-color: #F6F6E3;
 }
 #mu-submenu {
   padding: 6px 10px 0px 10px;
   background-color: #F6F6E3;
   text-align: right;
 }
 #mu-submenu .inner {
   font-size: 90%;
 }
 #mu-submenu a {
   padding: 0px 6px;
   text-decoration: none;
 }
 #mu-submenu span a {
   padding: 0px;
 }
 span.wl-only {
   display: block;
   text-align: right;
 }
 #mu-submenu span {
   display: block;
   width: 100%;
   text-align: center;
 }
 #mu-center {
   padding: 30px 34px;
 }
 #mu-side, #mu-side2 {
   width: 150px;
   max-width: 150px;
   min-width: 150px;
   vertical-align: top;
 }
 #mu-side a, #mu-side2 a {
   display: block;
   text-decoration: none;
   padding: 3px 0px;
 }
 #mu-side div, #mu-side2 div {
   width: 150px;
   max-width: 150px;
   min-width: 150px;
 }
 a.left_pagelink, span.left_pagelink, span.left_pagetitle, a.left_pagetitle, a.right_pagelink, span.right_pagelink, a.right_pagetitle, span.right_pagetitle {
   text-align: left;
 }
 a.left_pagetitle, span.left_pagetitle, a.right_pagetitle, span.right_pagetitle {
  font-weight: bold;
 }
 div.left_pagelinks, div.right_pagelinks {
  padding-bottom: 12px;
 }
 .mu-side-right {
   padding-left: 10px;
   border-left: 1px solid #D7D7D7;
 }
 .mu-side-right2 {
   padding-left: 10px;
 }
 #mu-center-part {
   vertical-align: top;
   width: 100%;
 }
 div#breadcrumbs {
   padding-bottom: 8px;
   text-align: left;
   line-height: 10px;
 }
 div#breadcrumbs a {
   font-size: 90%;
   text-decoration: none;
 }
 span.bc-arrow {
   padding: 0px 8px;
 }
 span.bc-arrow img {
   background-color: #037F8F;
 }
 #pa-img {
   padding: 0px 8px 8px 0px;
 }
 div.mu-pagination {
   padding: 5px;
   margin: 0px;
   clear: both;
   text-align: center;
 }
 div.mu-pagination a {
   text-decoration: none;
 }
 div.mu-pagination span {
   padding: 0px 3px;
 }
 #mu-products {
   width: 100%;
   border-collapse: collapse;
   border-bottom: 1px solid #D7D7D7;
   margin-bottom: 20px;
   clear: both;
 }
 table.borders {
   border-left: 1px solid #D7D7D7;
 }
 table.borders td.pr_info {
   border-right: 1px solid #D7D7D7;
 }
 #mu-links {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 20px;
   clear: both;
 }
 #mu-links .pa-link {
   text-align: center;
   vertical-align: middle;
   width: 25%;
   padding: 20px 0px 0px 0px;
 }
 #mu-links .pa-link a {
   text-decoration: none;
   font-weight: bold;
 }
 #mu-links .pa-link a span {
   font-weight: normal;
 }
 #mu-products td.pr_info {
   width: 25%;
   vertical-align: top;
   padding: 20px 5px;
   border-top: 1px solid #D7D7D7;
 }
 #mu-footer {
   border-top: 4px solid #F6F6E3;
   color: #FFFFFF;
   line-height: 20px;
   padding: 10px;
   font-size: 92%;
 }
 #mu-footer a {
   padding: 0px 8px 0px 0px;
 }
 #mu-footer #img-right {
   float: right;
 }

/****************** Global and Per Product CrossSell *****************/
 #mu-crosssell-g, #mu-crosssell-p {
   width: 100%;
   border-collapse: collapse;
 }
 #mu-crosssell-p-cartonly {
   width: 100%;
   border-collapse: collapse;
 }
 #mu-crosssell-g td, #mu-crosssell-p td {
   width: 25%;
   vertical-align: middle;
   padding: 20px 0px;
   border-top: 1px solid #D7D7D7;
   text-align: center;
 }
 #mu-crosssell-p-cartonly caption {
   background-color: #037F8F;
   color: #FFFFFF;
   font-size: 100%;
   padding: 8px;
 }
 #mu-crosssell-p-cartonly td {
   width: 25%;
   vertical-align: middle;
   padding: 20px 5px;
   text-align: center;
 }
 .gcs_img, .pcs_img {
 }
 .gcs_name, .pcs_name {
   display: block;
 }
 .gcs_price, .pcs_price {
   display: block;
   font-weight: bold;
 }
 .gcs_price strike, .pcs_price strike {
   font-weight: normal;
 }
 .gcs_add, .pcs_add {
   display: block;
 }

/********************* Search Results (and Page Pagination) ***********************/
 .se_table_top {
   border-top: 1px solid #D7D7D7;
   border-bottom: 1px solid #D7D7D7;
 }
 .se_table_bottom {
   border-bottom: 1px solid #D7D7D7;
 }
 .search_pr_info span {
   color: #D7D7D7;
 }
 .search_pa_links {
   border-bottom: 1px solid #D7D7D7;
 }
 #gc table.giftcert_type, #gc table.cert_num_amount {
   border-bottom: 1px solid #D7D7D7;
  }
/********************** Shopping Cart Screen Styles ***********************/
 #progressbar {
	background-color: #6F420D;
	border: 1px solid #292825;
 }
 table.cart_border {
   border-bottom: 1px solid #D7D7D7;
 }
 #press-recal {
	background-color: #D7D7D7;
 }
/****************** Global Header Navigation Bar ******************/
/****************** Credits: Dynamic Drive CSS Library ************/
/****************** URL: http://www.dynamicdrive.com/style/ *******/
 .suckertreemenu {
   padding: 0px;
   margin: 0px;
 }
 .suckertreemenu ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   float: right;
 }
 .suckertreemenu ul li {
   position: relative;
   display: inline;
   float: left;
   padding: 0px;
   margin: 0px;
 }
 .suckertreemenu ul li a {
   display: block;
   min-width: 90px;
   padding: 5px 8px;
   margin: 0px;
   text-decoration: none;
   text-align: center;
  }
 .suckertreemenu ul li a:hover, .suckertreemenu ul li:hover a, .suckertreemenu ul li ul li a, .suckertreemenu ul li ul li a:visited, .suckertreemenu ul li ul li a:active {
  color: #FFFFFF;
  }
 .suckertreemenu ul li ul {
   left: 0;
   position: absolute;
   top: -1px;
   display: block;
   visibility: hidden;
   border-style: solid;
   border-width: 1px;
 }
 .suckertreemenu ul li ul li {
   display: list-item;
   float: none;
   border-width: 0px;
 }
 .suckertreemenu ul li ul li:hover {
   background-color: #F6F6E3;
 }
 .suckertreemenu ul li ul li ul { 
   left: 140px;
   top: 0;
 }
 .suckertreemenu ul li ul li a {
   display: block;
   width: 140px;
   text-align: left;
   margin: 0px;
   border-width: 0px;
   padding: 3px 8px;
 }
* html p#iepara{
   padding-top: 1em;
 }
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
