 #mu-main {
   margin: 0px auto;
   width: 100%;
   height: 100%;
 }
 #mu-header {
   text-align: center;
   background-position: top left;
   background-repeat: repeat-x;
 }
 #mu-header .inner {
   padding: 10px;
   text-align: left;
   clear: both;
 }
 #mu-footer a, #mu-footer a:visited {
   color: #FFFFFF;
 }
 #mu-headerspecials {
   float: right;
   width: 500px;
   margin: 0px;
   padding: 5px;
   text-align: right;
   white-space: nowrap;
   overflow: hidden;
   min-height: 30px;
 }
 #mu-menu {
   border-bottom: 1px solid #F6F6E3;
 }
 #menu {
   height: 34px;
   max-height: 34px;
   margin: 0px;
   padding: 0px;
   background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/mu-topbar-bg-bk.png);
   background-position: bottom left;
   background-repeat: repeat-x;
   border-bottom: 4px solid #F6F6E3;
 }
 #mu-submenu {
   padding: 6px 10px;
   background-color: #F6F6E3;
   text-align: center;
   background-position: 0px -30px;
   background-repeat: repeat-x;
 }
 #mu-submenu .inner {
   text-align: right;
   margin: 0px auto;
   font-size: 90%;
 }
 #mu-submenu a {
   padding: 0px 6px;
   text-decoration: none;
 }
 #mu-submenu span a {
   padding: 0px;
 }
 span.wl-only {
   display: block;
   text-align: right;
 }
 #mu-center {
   padding: 20px 34px;
   border-top: 8px solid #F6F6E3;
   height: 100%;
   vertical-align: top;
 }
 #mu-side, #mu-side2 {
   width: 150px;
   max-width: 150px;
   min-width: 150px;
   vertical-align: top;
 }
 #mu-side div, #mu-side2 div {
   width: 150px;
   max-width: 150px;
   min-width: 150px;
 }
 a.left_pagetitle, span.left_pagetitle, a.right_pagetitle, span.right_pagetitle {
  font-weight: bold;
 }
 div.left_pagelinks, div.right_pagelinks {
  padding-bottom: 12px;
 }
 #mu-side a, #mu-side2 a {
   display: block;
   text-decoration: none;
   padding: 3px 0px;
   text-align: left;
 }
 .mu-side-right {
   padding-left: 10px;
   border-left: 1px solid #D7D7D7;
 }
 .mu-side-right2 {
   padding-left: 10px;
 }
 #mu-center-part {
   vertical-align: top;
   width: 100%;
 }
 div#breadcrumbs {
   padding-bottom: 8px;
   text-align: left;
   line-height: 10px;
 }
 div#breadcrumbs a {
   font-size: 90%;
   text-decoration: none;
 }
 span.bc-arrow {
   padding: 0px 8px;
 }
 span.bc-arrow img {
   background-color: #037F8F;
 }
 #pa-img {
   padding: 0px 8px 8px 0px;
 }
 div.mu-pagination {
   padding: 5px;
   margin: 0px;
   clear: both;
   text-align: center;
 }
 div.mu-pagination a {
   text-decoration: none;
 }
 div.mu-pagination span {
   padding: 0px 3px;
 }
 #mu-products, #mu-crosssell-g, #mu-crosssell-p, #mu-crosssell-p-cartonly {
   width: 100%;
   border-collapse: separate;
   border-spacing: 6px;
   margin-bottom: 20px;
   clear: both;
 }
 #mu-products td.pr, .prod_img, .row_img, td.pcs, td.gcs, #mu-crosssell-p-cartonly {
   background-color: #F6F6E3;
   border: 1px solid #F6F6E3;
   padding: 8px;
 }
 .row_img {
   margin-top: 6px;
 }
 table.borders {
   border: 1px solid #D7D7D7;
 }
 #mu-links {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 20px;
   clear: both;
 }
 #mu-links .pa-link {
   text-align: center;
   vertical-align: middle;
   width: 25%;
   padding: 20px 0px 0px 0px;
 }
 #mu-links .pa-link a {
   text-decoration: none;
   font-weight: bold;
 }
 #mu-links .pa-link a span {
   font-weight: normal;
 }
 #mu-products td.pr_info {
   width: 25%;
   vertical-align: top;
   padding: 20px 5px;
   border-top: 1px solid #D7D7D7;
 }
 #mu-footer {
   border-top: 4px solid #F6F6E3;
   color: #FFFFFF;
   line-height: 20px;
   padding: 10px;
   font-size: 92%;
 }
 #mu-footer a {
   padding: 0px 8px 0px 0px;
 }
 #mu-footer #img-right {
   float: right;
 }
/****************** Global and Per Product CrossSell *****************/
 #mu-crosssell-g td, #mu-crosssell-p td {
   width: 25%;
   vertical-align: middle;
   text-align: center;
 }
 .gcs_name, .pcs_name {
   display: block;
 }
 .gcs_price, .pcs_price {
   display: block;
   font-weight: bold;
 }
 .gcs_price strike, .pcs_price strike {
   font-weight: normal;
 }
 .gcs_add, .pcs_add {
   display: block;
 }
/********************* Search Results (and Page Pagination) ***********************/
 .se_table_top {
   border-top: 1px solid #D7D7D7;
   border-bottom: 1px solid #D7D7D7;
 }
 .se_table_bottom {
   border-bottom: 1px solid #D7D7D7;
 }
 .search_pr_info span {
   color: #D7D7D7;
 }
 .search_pa_links {
   border-bottom: 1px solid #D7D7D7;
 }
 #gc table.giftcert_type, #gc table.cert_num_amount {
   border-bottom: 1px solid #D7D7D7;
  }
/********************** Shopping Cart Screen Styles ***********************/
 #progressbar {
	background-color: #6F420D;
	border: 1px solid #292825;
 }
 table.cart_border {
   border-bottom: 1px solid #D7D7D7;
 }
 #press-recal {
	background-color: #D7D7D7;
 }
/****************** Global Header Navigation Bar ******************/
/****************** Credits: Dynamic Drive CSS Library ************/
/****************** URL: http://www.dynamicdrive.com/style/ *******/
 .suckertreemenu {
   padding: 0px;
   height: 30px;
   min-height: 30px;
   margin: 0px 0px 6px 0px;
 }
 .suckertreemenu ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   float: right;
   border-left-width: 1px;
   border-left-style: solid;
 }
 .suckertreemenu ul li {
   position: relative;
   display: inline;
   float: left;
   padding: 0px;
   margin: 0px;
   height: 34px;
   max-height: 34px;
   background-position: top left;
   background-repeat: repeat-x;
   border-right-width: 1px;
   border-right-style: solid;
 }
 .suckertreemenu ul li a {
   display: block;
   min-width: 100px;
   padding: 8px;
   margin: 0px;
   text-decoration: none;
   color: #FFFFFF;
   text-align: center;
  }
 .suckertreemenu ul li a:visited, .suckertreemenu ul li a:active, .suckertreemenu ul li a:hover {
   color: #FFFFFF;
  }
 .suckertreemenu ul li ul {
   left: 0;
   position: absolute;
   top: -1px;
   display: block;
   visibility: hidden;
   border-left-style: solid;
   border-left-width: 1px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
 }
 .suckertreemenu ul li ul li {
   display: list-item;
   float: none;
   border-width: 0px;
   max-height: 24px;
 }
 .suckertreemenu ul li ul li ul { 
   left: 140px;
   top: 0;
 }
 .suckertreemenu ul li ul li a {
   display: block;
   width: 140px;
   text-align: left;
   margin: 0px;
   border-width: 0px;
   padding: 3px 8px;
 }
* html p#iepara{
   padding-top: 1em;
 }
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
