 html {
   height: 100%;
 }
 body {
   padding: 0px;
   margin: 0px;
   text-align: center;
   height: 100%;
 }
 body, td, #mu-footer a {
   font-family: arial;
   font-size: 12px;
 }
 .nobr {white-space: nowrap;} a {outline: 0px;}
 span#tf {
   float: right;
 }
 #mu-submenu a {
   padding: 0px 6px;
   text-decoration: none;
 }
 #mu-submenu span a {
   padding: 0px;
 }
 #ss_mb {
   display: block;
   float: right;
   clear: none;
   padding: 0px;
   margin: 0px;
 }
 #mu-headerspecials .search {
   width: 150px;
   font-size: 84%;
   padding: 0px 1px;
 }
 #mu-headerspecials input.search {
   padding: 3px;
 }
 #mu-headerspecials a {
   font-size: 100%;
   padding: 0px 15px;
   text-decoration: none;
 }
 #mu-headerspecials .search_submit {
   border-style: solid;
   border-width: 1px;
   background-color: transparent;
 }
 #mu-headerspecials .MiniCart {
   width: 260px;
   clear: none;
   float: left;
   text-align: right;
   padding: 2px 0px;
   margin: 0px;
 }
 #mu-headerspecials .MiniCart a {
   padding: 0px 2px;
   font-weight: bold;
 }
 a.fb_share, a.twtr_share {padding: 0px 4px 0px 0px;}
 span.pin-it-button {display: inline-block; width: 45px; overflow: hidden;}
 div.fb_share {display: inline-block; width: 55px; overflow: hidden;}
 div.twtr_share {display: inline-block; width: 88px; overflow: hidden;}
 div#plusone {display: inline-block; width: 75px; overflow: hidden;}
 img.social_follow {float: right; padding: 0px 2px; border: 0px;}
 #mu-mi-info #plusone {
	float: left;
	position: relative;
	top: 2px;
 }
 #mu-mi-info input.pr_add {
	clear: both;
	display: block;
	text-align: left;
 }
 #mu-mi-main img.fb_share, #mu-mi-main img.twtr_share {
   float: left;
 }
 span.wl-only {
   display: block;
   text-align: right;
 }
 #mu-center #padding {
   padding: 0px;
   margin: 0px;
 }
 div#breadcrumbs {
   padding-bottom: 8px;
   text-align: left;
   line-height: 10px;
 }
 div#breadcrumbs a {
   font-size: 90%;
   text-decoration: none;
 }
 span.bc-arrow {
   padding: 0px 8px;
 }
 span.bc-arrow img {
   background-color: #037F8F;
 }
 #pa-img {
   padding: 0px 8px 8px 0px;
 }
 div.mu-pagination {
   padding: 5px;
   margin: 0px;
   clear: both;
   text-align: center;
 }
 div.mu-pagination a {
   text-decoration: none;
 }
 div.mu-pagination span {
   padding: 0px 3px;
 }
 #payment_logos {
   padding: 20px 0px;
   text-align: left;
 }
 #mu-footer {
   text-align: left;
 }
 #mu-footer div.footer_pagelinks {
  width: 190px;
  padding: 5px 0px 15px 0px;
  margin: 0px;
  float: left;
  clear: none;
  height: 100px;
 }
 #mu-footer a.footer_pagelink, #mu-footer a.footer_pagetitle, #mu-footer .footer_pagetitle {
  display: block;
  text-align: left;
  text-decoration: none;
 }
 #mu-footer a.footer_pagetitle:hover, #mu-footer a.footer_pagelink:hover {
  text-decoration: underline;
 }
 #mu-footer .footer_pagetitle {
  font-weight: bold;
 }
 .clear {
  clear: both; 
 }
 #mu-newsletter {
  padding: 10px 0px;
 }
 #mu-newsletter td {
  font-weight: bold;
  color: #292825;
 }
 #mu-newsletter td#newsletter_field {
  padding-left: 10px;
 }
 #mu-newsletter td#newsletter_submit input {
  font-weight: bold;
  font-size: 90%;
  color: #292825;
  background: transparent;
  border: 0px;
 }
/********************** Product On Page Styles ***********************/
 span.oo-right table {
   width: 100%;
 }
 span.oo-right table td {
   text-align: right;
 }
 .pr_sku {
   color: #FFFFFF;
 }
 .pr_qty, .opt_hdr {
   display: block;
   padding: 2px;
 }
 .Bold {
   font-weight: bold;
 }
 .Typewriter {
   font-family: typewriter;
 }
 .Italic {
   font-style: italic;
 }
 .Big {
   font-size: 120%;
 }
 .Small {
   font-size: 90%;
 }
 .pr_price {
   display: block;
   margin: 0px;
   padding: 10px;
 }
 .qp_header {
   width: 100%;
 }
 .qp_header td {
   padding: 3px 3px;
   line-height: 16px;
 }
 .qp_quantitytxt, .qp_quantity, .qp_pricetxt, .qp_saletxt {
   font-weight: bold;
   text-align: center;
 }
 .qp_price {
   text-align: center;
 }
 .pr_add {
   margin: 5px;
 }
/*********************** More Information Page ***********************/
 #mu-mi-main {
   width: 100%;
   margin-bottom: 10px;
 }
 #mu-mi-img {
   vertical-align: top;
   text-align: center;
 }
 .row_img img {
   border: 0px;
 }
 #mu-mi-info {
   vertical-align: top;
   text-align: left;
   padding-left: 10px;
   width: 100%;
 } 
 #mu-mi-info-center {
   vertical-align: top;
   text-align: center;
   padding-left: 10px;
 }
 span#ss_inv {display: block; font-weight: bold; line-height: 26px;}
 span.ss_in_stock {color: green;}
 span.ss_out_of_stock, span.ss_low_stock {color: red;}
 .reviews-brief {font-size: 90%; white-space: nowrap; display: block;}
 .reviews-brief div.reviews_stars {height: 20px; max-height: 20px; overflow: hidden; padding: 2px 0px;}
 .reviews-brief span.reviews_stars_text, .reviews-brief span.review_product_name, .reviews-brief span.review_microdata_count, span.review_microdata_wrapper span.review_product_name, span.review_microdata_wrapper span.review_microdata_count, div.review span.review_product_name {display: none;}
 .reviews-brief a, div#reviews-more a {text-decoration: underline;}
 div#reviews-more span.reviews_stars_text {padding: 0px 6px 0px 0px;}
 .pcs_table_content span.reviews-brief, .gcs_product_table span.reviews-brief {width: 80px; margin: 0px auto;}
 div#reviews-more {border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; padding: 14px 0px; margin: 0px auto;}
 div#reviews-more div.reviews_stars, div#reviews-more span.reviews_stars_text, div#reviews-more div.reviews_stars_wrapper, div#reviews-more div.reviews_count {display: inline-block; line-height: 20px;}
 div#reviews-more div.reviews_stars_wrapper {height: 16px; max-height: 16px; overflow: hidden; padding: 0px; display: inline-block; width: 80px; position: relative; top: 3px;}
 div#reviews-more h4 {padding: 22px 0px 4px 0px; margin: 0px; font-weight: bold;}
 span.review_title {font-weight: bold; padding: 0px 8px;}
 div#reviews-more div.review {border-top: 1px solid #FFFFFF; padding: 14px 0px;}
 div#reviews-more span.review_author_text, div#reviews-more span.review_author, div#reviews-more span.review_date {line-height: 150%;}
 td.gcs_product_image, td.pcs_product_image {height: 150px;}
/*********************** Cross Sell Products *************************/
 td.pcs, td.pcs div, td.pcs a, td.pcs span {
   text-align: center;
 }
 #mu-crosssell-p-cartonly, #mu-crosssell-p-cartonly table {
   margin: 0px auto;
 }
/****************** Required For Template Alignment ******************/
 .inner {
   padding: 0px;
   margin: 0px auto;
 }
 .left {
   text-align: left;
 }
 .right {
   text-align: right;
 }
 .center {
   text-align: center;
 }
 .textwrap-off {
   display: block;
   padding: 3px 0px;
 }
 .hidden {
   visibility: hidden;
   max-height: 0px;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
 }
 h1, h2, h3, h4 {
   margin: 0px;
   padding: 4px 0px 0px 0px;
   font-weight: normal;
 }
 h1, #mu-crosssell-g caption, #mu-crosssell-p caption {
   font-size: 150%;
 }
 h2 {
   font-size: 140%;
 }
 h3 {
   font-size: 140%;
 }
 h4 {
   font-size: 120%;
 }
 h5 {
   font-size: 100%;
 }
 p { 
   padding-top: 0px;
   margin-top: 0px;
 }
 th {
   font-weight: bold;
 }
 table.two td.pr_info, table.two td.pa-link, .two td {
   width: 50%;
 }
 table.three td.pr_info, table.three td.pa-link, .three td {
   width: 33%;
 }
 table.four td.pr_info, table.four td.pa-link, .four td {
   width: 25%;
 }
 table.five td.pr_info, table.five td.pa-link, .five td {
   width: 20%;
 }
 .suckertreemenu ul li a {
   white-space: nowrap;
 }
/********************* Search Results (and Page Pagination) ***********************/
 #se_count {
   float: right;
   max-height: 1px;
   width: 200px;
   text-align: right;
   overflow: visible;
 }
 .se_table_top {
   width: 100%;
   padding: 10px 0px;
   margin: 20px 0px 10px 0px;
 }
 .se_table_bottom {
   width: 100%;
   padding: 10px 0px;
   margin: 20px 0px 10px 0px;
 }
 .se_table_form {
   width: 100%;
 }
 .search_table {
   float: left;
 }
 td.se_table_form, td.se_prevnext {
   text-align: left;
 }
 td.se_prevnext input, div.mu-pagination a {
   border: 0px;
   padding: 0px;
   margin: 0px;
   background-color: transparent;
 }
 td.se_prevnext input.search_button_selected, div.mu-pagination .currentpage {
   font-size: 140%;
 }
 td.se_perpage, td.se_sort {
   text-align: right;
   font-weight: bold;
   white-space: nowrap;
 }
 .search_pr_info {
   width: 100%;
   vertical-align: top;
   text-align: left;
   padding: 16px 8px 0px 8px;
 }
 .search_pr_info a {
   display: block;
 }
 .search_pr_info span {
   font-style: italic;
   display: block;
 }
 .search_pr_img {
   vertical-align: top;
   text-align: center;
   padding-top: 16px;
 }
 .search_pr_add {
   vertical-align: top;
   text-align: center;
   font-weight: bold;
   font-size: 130%;
   padding-top: 16px;
 }
 .search_pa_links {
   text-align: left;
   padding-bottom: 16px;
   font-size: 90%;
 }
 .search_pa_links a {
   padding: 0px 5px;
 }
/********************* Gift Certificate Screen Styles *********************/
 #gc {
   text-align: center;
   min-width: 500px;
   width: 50%;
  }
 #gc table {
   width: 100%;
   padding: 20px 60px;
  }
 .gc_instructions, .gc_policy {
   width: 100%;
   padding: 20px 0px;
  }
 #gc table td {
   text-align: left;
  }
 #gc td.cert_to_from_msg {
   white-space: nowrap;
   width: 100%;
  }

/********************** Customer Registration Styles **********************/
 table.view_edit td {
   padding: 5px;
 }
 table.view_edit {
   padding: 0px 0px 20px 0px;
 }
 input.button168, input.button170, input.button172 {
   float: right;
 }
/********************** Shopping Cart Screen Styles ***********************/
 #progressbar {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/progressbar.gif);
	background-repeat: no-repeat;
	margin: 16px auto;
	width: 550px;
	height: 12px;
	max-height: 12px;
 }
 .thirtythree {
	background-position: 181px 0px;
 }
 .fifty {
	background-position: 362px 0px;
 }
 .seventyfive {
	background-position: 455px 0px;
 }
 .onehundred {
	background-position: 590px 0px;
 }
 div#messages {
	vertical-align: middle;
 }
 #press-recal {
	font-size: 80%;
	font-style: italic;
	text-align: center;
	width: 100%;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/3col/reverse-arrow.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
 }
 table.cart_border {
   width: 100%;
   padding: 10px 0px 20px 0px;
   margin: 0px 0px 10px 0px;
 }
 table.cart {
   width: 100%;
   border-collapse: collapse;
   border-bottom: 1px solid #99421A;
   margin: 0px 0px 6px 0px;
 }
 table.cart th, table.cart td {
   padding: 3px;
 }
 table.cart td {
   background-color: #F6F6E3;
 }
 .cart_delete, .cart_quantity, .cart_image, .cart_price, .cart_sku, .cart_total {
   white-space: nowrap;
   text-align: center;
   border-top: 1px solid #6F420D;
 }
 td.cart_name {
   width: 50%;
   text-align: left;
   border-top: 1px solid #6F420D;
 }
 table.cart th {
   border-top: 0px;
 }
 .cart_cp_delete, .cart_cp_quantity, .cart_cp_image, .cart_cp_sku, .cart_cp_price, .cart_cp_total, .cart_empty {
   text-align: center; 
 }
 td.cart_cp_name, .cart_op, .cart_op1, .cart_op2, table.addr td  {
   text-align: left; 
 }
 .cart_total {
   text-align: right;
 }
 table.totals {
   float: right;
   width: 100%;
 }
 td.totals_txt, td.totals_saved_txt, td_totals_blank, td.totals_all_txt {
   text-align: left;
   padding-right: 15px;
   white-space: nowrap;
   width: 100%;
   text-align: right;
 }
 td.totals, td.totals_saved, td.totals_all {
   text-align: right;
   padding: 0px 0px 0px 30px;
   white-space: nowrap;
 }
 td.totals_all, td.totals_all_txt {
   font-weight: bold;
   font-size: 150%
 }
 td.coupon_field input {
   width: 100px;
 }

table.checkout {
  padding: 10px 0px;
}
table.payment{
  color: #292825;
}

table.pay_holder {
  margin-left: auto;
  margin-right: auto;
}

td.pay_holder_hdr, td.bill_addr_hdr, td.ship_addr_hdr {
  font-weight: bold;
}

td.payment_hdr, .instruct_hdr, .comm_hdr {
  font-weight: bold;
  text-align: center;
}

td.paymentselection {
  text-align: center;
  padding-top: 1em;
}

td.payment {
  text-align: left;
}

td.payment_value {
  text-align: left;
}

table.google_button td {
  vertical-align: middle;
  text-align: center;
  padding: 4px;
}
table.sql_pay {
  margin-left: -4px;
  margin-right: auto;
}

td.sql_pay {
  padding-right: 15px;
  font-weight: bold;
}

td.new_payment_type {
  text-align: left;
}
 td.reg_wel {
   font-weight: bold;
 }
td.coupon {
  padding-top: 1em;
}

td.buttons {
  text-align: center;
  padding-top: 1em;
}

/*** Enter postal code, select country ***/
table.zipncountry {
  text-align: left;
}

td.zipncountry, .zipncountry_hdr {
  text-align: left;
}

td.zipncountry_text, td.zipncountry_txt {
  text-align: left;
  white-space: nowrap;
}

td.sql_addr_hdr, .zipncountry_hdr {
  font-weight: bold;
}

td.sql_addr {
  padding-right: 15px;
}


/*** select shipping method, tax rate ***/
table.taxnship, table.surcharge { 
  text-align: right;
  padding-top: 1em;
}

td.taxnship_hdr {
  font-weight: bold;
  text-align: left;
}

td.taxnship {
  text-align: left;
}
 div.warning {
   width: 50%;
   margin: 0px auto;
   padding: 5px;
   border: 1px solid #292825;
   background-color: #F6F6E3;
 }
table.checkout_err, .inv_err, .thankyou_err {
  margin-left: auto;
  margin-right: auto;
}
td.checkout_err, .inv_err, .thankyou_err {
  color: #292825;
  background-color: #F6F6E3;
}
table.ups_error {
  margin-left: auto;
  margin-right: auto;
}
td.ups_error {
  color: #292825;
  background-color: #F6F6E3;
  vertical-align: middle;
}
.ship_logos {
  text-align: center;
}
span.field_warn {color: red; font-weight: bold;} input.field_warn, select.field_warn {border: 1px solid red; padding: 3px; background: #FFEFEF;}
