 #topnav {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/slate/topnav-lf.gif);
	}
 #topnav a.last {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/slate/topnav-rt.gif);
	}
 .moreinfo_add, .search_pa_links, #search_form, .gc_policy, #gcs_page, #gcs_mi {
	background-image: none;
	}
