 body {
	padding: 0px;
	margin: 0px;
	text-align: center;
	}
 body, tr, td, div, span, a, p, li, option {
	font-family: arial;
	font-size: 12px;
	}
 .nobr {
	white-space: nowrap;
	}
 input.searchinput {
	color: #FFFFFF;
	}
 a#home, a#gift, a#signin, a#signout, a#cart, #section, .section, #tabproducts, #crosssell_title, td.qp_quantitytxt, td.qp_quantity, .suckertreemenu ul li a, #tabreviews {
	color: #FFFFFF;
	}
 a.cartbu {
	color: #F6F6E3;
	}
 #container {
	width: 880px;
	max-width: 880px;
	overflow: visible;
	margin: 0px auto;
	padding: 0px;
	}
 #header {
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	clear: both;
	}
 span#co_logo {
	float: left;
	}
 #navbar {
	height: 40px;
	max-height: 40px;
	padding: 0px;
	margin: 6px auto;
	clear: both;
	text-align: left;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/sleek/graybar.png);
	background-repeat: no-repeat;
	background-position: 0px 30px;
	}
 #search {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/sleek/searchbg.png);
	background-repeat: no-repeat;
	background-position: top left;
	height: 40px;
	width: 218px;
	padding: 0px;
	margin: 0px;
	float: left;
	clear: none;
	text-align: center;
	white-space: nowrap;
	}
 input.searchinput {
	font-size: 11px;
	margin: 12px auto;
	padding: 0px;
	width: 180px;
	}
 #searcharrow {
	position: relative;
	top: 3px;
	left: 0px;
	_top: -9px;
	}
 #searchslant {
	background-repeat: no-repeat;
	background-position: bottom left;
	height: 40px;
	width: 131px;
	max-width: 131px;
	overflow: hidden;
	float: left;
	clear: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	}
 #searchslant img {
	padding: 0px;
	margin: 0px;
	border: 0px;
	}
 a#home {
	position: relative;
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
	display: block;
	}
 a#gift, a#signin, a#signout, a#cart {
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
	background-repeat: no-repeat;
	background-position: bottom left;
	display: block;
	width: 131px;
	max-width: 131px;
	overflow: hidden;
	height: 40px;
	min-height: 40px;
	float: left;
	clear: none;
	text-align: center;
	font-family: helvetica;
	}
 #main {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	clear: both;
	}
 #right {
	float: right;
	clear: none;
	width: 652px;
	max-width: 652px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	text-align: left;
	}
 #left {
	float: left;
	clear: none;
	width: 222px;
	max-width: 222px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	text-align: left;
	}
 #center {
	clear: both;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	text-align: left;
	}
 #links, #products, #related, #crosssell, div.left_pagelinks, #email_signup, #productreviews {
	text-align: left;
	padding: 0px;
	margin: 5px 0px;
	clear: both;
	background-color: #FFF;
	}
 #email_signup {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	}
 table#newsletter_tbl {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	}
 td#newsletter_field {
	padding-left: 5px;
	}
 td#newsletter_field input {
        width: 130px;
	}
 #newsletter_submit input {
	font-weight: bold;
	font-size: 90%;
	color: #292825;
	background: transparent;
	border: 0px;
	padding: 0px;
	margin: 0px;
	}
 div.left_pagelinks {
	padding-bottom: 4px;
        }
 #payment_logos {
	padding: 10px;
	text-align: center;
	}
 #section, .section {
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	}
 div.left_pagelinks a.left_pagetitle, div.left_pagelinks span.left_pagetitle {
	height: 20px;
	line-height: 20px;
        margin: 0px;
	font-weight: bold;
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	color: #FFFFFF;
	}
 #tabproducts, #crosssell_title, #tabreviews {
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	background-repeat: repeat-x;
	background-position: top left;
	text-align: left;
	text-indent: 10px;
	}
 #links ul {
	padding: 0px;
	margin: 4px;
	list-style-type: none;
	}
 #links li {
	text-align: left;
	}
 #links li a, td.reg, td.reg_link, a.left_pagelink, .left_pagetitle {
	display: block;
	line-height: 20px;
	text-decoration: none;
	text-align: left;
	}
 a.left_pagelink {
	margin: 0px 4px;
	}
 table.reg {
	width: 216px;
	padding: 0px;
	margin: 0px 2px;
	}
 td.reg, td.reg_link {
	font-weight: bold;
	}
 td.reg a, td.reg_link a {
	display: block;
	font-weight: normal;
	}
 #minicart {
	height: 69px;
	width: 222px;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/sleek/graycart.png);
	background-repeat: no-repeat;
	background-position: top left;
	margin: 2px 0px;
	padding: 0px;
	}
 a.cartbu {
	text-decoration: underline;
	font-weight: bold;
	display: block;
	float: right;
	width: 170px;
	text-align: center;
	margin: 0px;
	padding: 15px 0px 0px 0px;
	clear: both;
	}
 a.cartbc {
	text-decoration: none;
	font-weight: normal;
	display: block;
	float: right;
	width: 170px;
	text-align: center;
	margin: 0px;
	padding: 0px 0px 10px 0px;
	clear: both;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: georgia, Times New Roman, Times, serif;
	overflow: hidden;
	}
 #friend {
	height: 69px;
	width: 222px;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/sleek/grayfriend.png);
	background-repeat: no-repeat;
	background-position: top left;
	margin: 2px 0px;
	padding: 0px;
	}
 #share {
	max-width: 180px;
	max-height: 18px;
	padding: 3px 0px;
	margin: 0px;
	overflow: visible;
	float: right;
	}
 a.fb_share, a.twtr_share {padding: 0px 4px 0px 0px;}
 span.pin-it-button {display: inline-block; width: 45px; overflow: hidden;}
 div.fb_share {display: inline-block; width: 55px; overflow: hidden;}
 div.twtr_share {display: inline-block; width: 88px; overflow: hidden;}
 div#plusone {display: inline-block; width: 75px; overflow: hidden;}
 img.social_follow {float: right; padding: 0px 2px; border: 0px;}

 span#ss_inv {display: block; font-weight: bold; line-height: 26px;}
 span.ss_in_stock {color: green;}
 span.ss_out_of_stock, span.ss_low_stock {color: red;}
 .reviews-brief {font-size: 90%; white-space: nowrap; display: block;}
 .reviews-brief div.reviews_stars {height: 20px; max-height: 20px; overflow: hidden; padding: 2px 0px;}
 .reviews-brief span.reviews_stars_text, .reviews-brief span.review_product_name, .reviews-brief span.review_microdata_count, span.review_microdata_wrapper span.review_product_name, span.review_microdata_wrapper span.review_microdata_count, div.review span.review_product_name {display: none;}
 .reviews-brief a, div#reviews-more a {text-decoration: underline;}
 div#reviews-more span.reviews_stars_text {padding: 0px 6px 0px 0px;}
 .pcs_table_content span.reviews-brief, .gcs_product_table span.reviews-brief, td.center span.reviews-brief {width: 80px; margin: 0px auto;}
 div#reviews-more {border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; padding: 14px 8px; margin: 0px auto;}
 div#reviews-more div.reviews_stars, div#reviews-more span.reviews_stars_text, div#reviews-more div.reviews_stars_wrapper, div#reviews-more div.reviews_count {display: inline-block; line-height: 20px;}
 div#reviews-more div.reviews_stars_wrapper {height: 16px; max-height: 16px; overflow: hidden; padding: 0px; display: inline-block; width: 80px; position: relative; top: 3px;}
 div#reviews-more h4 {padding: 22px 0px 4px 0px; margin: 0px; font-weight: bold;}
 span.review_title {font-weight: bold; padding: 0px 8px;}
 div#reviews-more div.review {border-top: 1px solid #FFFFFF; padding: 14px 0px;}
 div#reviews-more span.review_author_text, div#reviews-more span.review_author, div#reviews-more span.review_date {line-height: 150%;}
 td.gcs_product_image, td.pcs_product_image {height: 150px;}
 a.tf_popup {
	font-family: georgia, Times New Roman, Times, serif;
	font-size: 24px;
	text-decoration: none;
	display: block;
	width: 140px;
	padding: 6px 80px 6px 0px;
	text-align: center;
	}
 #footbar, #navbar-nolinks {
	height: 10px;
	max-height: 10px;
	min-height: 10px;
	overflow: hidden;
	padding: 0px;
	margin: 6px auto;
	clear: both;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/sleek/graybar.png);
	background-repeat: no-repeat;
	background-position: top center;
	}
 #footer {
	padding: 0px;
	margin: 0px auto;
	clear: both;
	}
 #footer_pagelinks_all {
	clear: both;
	margin: 0px auto;
	padding: 0px;
	min-height: 120px;
	width: 100%;
	}
 div.footer_pagelinks {
	width: 212px;
	height: 100px;
	float: left;
	clear: none;
	margin: 10px 0px;
	padding: 0px;
	}
 div.footer_pagelinks a, div.footer_pagelinks span {
	display: block;
	padding: 2px 10px;
	text-align: left;
	text-decoration: none;
	}
 div.footer_pagelinks .footer_pagetitle {
	font-weight: bold;
	}
 h1 {
	font-family: georgia, Times New Roman, Times, serif;
	font-weight: normal;
	font-size: 200%;
	text-align: left;
	margin: 20px 0px;
	}
 .pagination {
	padding: 8px 0px;
	margin: 0px;
	text-align: center;
	}
 .pagination a {
	text-decoration: none;
	}
 .pagination .currentpage {
	font-size: 120%;
	}
 td.loop_prod {
	border-bottom: 1px dashed #BBB;
	}
 td.prod_info {
	vertical-align: top;
	}
 a.prod_name {
	font-size: 14px;
	}
 span.prod_price {
	font-size: 14px;
	}
 table.qp_header td {
	padding: 3px;
	}
 td.qp_quantitytxt, td.qp_pricetxt, td.qp_saletxt {
	font-weight: bold;
	}
 td.qp_desc {
	font-family: georgia, Times New Roman, Times, serif;
	text-align: center;
	}
 a.cross_sell_prod_name {
	text-align: center;
	}
 #more_info, #cert, #reviews-more {
	padding: 8px;
	}
 #addtocart {
	margin-bottom: 5px;
	padding: 8px;
	}
 select.subproduct {
	max-width: 200px;
	}
 select.moresubproducts {
	max-width: 500px;
	}
 input.search_button, input.search_button_selected {
	padding: 0px;
	background: 0px;
	border: none;
	background-color: transparent;
	text-decoration: underline;
	}
 input.search_button_selected {
	font-weight: bold;
	}
 .ship_logos {
    margin: 10px auto;
  }
  .ship_logos td {
    width: 220px;
    text-align: center;
    padding: 3px;
    vertical-align: top;
  }
  .ship_logos td.ship_img {
    vertical-align: middle;
  }
  .ship_logos td.ship_text {
    font-size: 8pt;
 }
span.field_warn {color: red; font-weight: bold;} input.field_warn, select.field_warn {border: 1px solid red; padding: 3px; background: #FFEFEF;}
 #image1, #image2 {
	text-align: center;
	}
 #texta, #textb {
	padding: 4px;
	}

/***************************************/
/***          Shopping Cart          ***/
/***************************************/


 td.reg a, td.reg_link a {
	display: inline;
	}
 div#messages {
	vertical-align: middle;
	}
 table.cart {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	}
 th {
	text-align: center;
	}
 td.cart_delete, td.cart_cp_delete {
	padding: 3px;
	width: 50px;
	text-align: center; 
	background-color: #F6F6E3;
	}
 td.cart_quantity, td.cart_cp_quantity {
	padding: 3px;
	width: 70px;
	text-align: center; 
	background-color: #F6F6E3;
	}
 td.cart_name, td.cart_cp_name {
	padding: 3px;
	text-align: left; 
	background-color: #F6F6E3;
	}
 td.cart_image, td.cart_cp_image {
	padding: 3px;
	text-align: center; 
	background-color: #F6F6E3;
	}
 td.cart_sku, td.cart_cp_sku {
	padding: 3px;
	text-align: left; 
	background-color: #F6F6E3;
	}
 td.cart_price, td.cart_cp_price {
	padding: 3px;
	font-style: italic;
	text-align: right; 
	background-color: #F6F6E3;
	}
 td.cart_total, td.cart_cp_total {
	padding: 3px;
	text-align: right; 
	background-color: #F6F6E3;
	white-space: nowrap;
	}
 td.cart_op {
	padding: 3px;
	text-align: left; 
	background-color: #F6F6E3;
	}
 td.cart_op1, td.cart_op2 {
	padding: 3px;
	background-color: #F6F6E3;
	}
 td.cart_empty {
	padding: 3px;
	text-align:center;
	background-color: #F6F6E3;
	}
 select.cart {
	text-align: left;
	}
 textarea.cart {
	vertical-align: middle; 
	}
 .hidden {
	visibility: hidden;
	padding: 0px;
	margin: 0px;
	height: 0px;
	max-height: 0px;
	}
/***************************************/
/***          Table of Totals        ***/
/***  Subtotal, Tax, Shipping, etc.  ***/
/***************************************/
 table.totals {
	color: #292825;
	vertical-align: middle; 
	width: 200px;
	line-height: 150%;
	}
 td.totals_txt, td.totals_saved_txt, td_totals_blank, td.totals_all_txt {
	text-align: right;
	padding-right: 15px;
	white-space: nowrap;
	}
 td.totals, td.totals_saved, td.totals_all {
	text-align: right;
	padding-right: 3px;
	}
 td.totals_all, td.totals_all_txt {
	font-size: 24px;
	color: #292825;
	font-family: georgia, Times New Roman, Times, serif;
	}
 td.totals_saved, td.totals_saved_txt, td_totals_blank {
	color: red;
	font-weight: bold;
	}
/***********************/
/***  Payment Table  ***/
/***********************/
 table.payment{
	color: #292825;
	}
 table.pay_holder {
	margin-left: auto;
	margin-right: auto;
	}
 td.pay_holder_hdr {
	font-weight: bold;
	}
 td.payment_hdr {
	font-weight: bold;
	text-align: center;
	}
 td.paymentselection {
	text-align: center;
	padding-top: 1em;
	}
 td.payment, td.payment_value {
  text-align: left;
	}
 table.sql_pay {
	margin-left: -4px;
	margin-right: auto;
	}
 td.sql_pay {
	padding-right: 15px;
	font-weight: bold;
	}
 td.new_payment_type {
	text-align: left;
	}
/*******************************/
/***  Table of Registration  ***/
/*******************************/
 td.reg_wel {
	font-weight: bold;
	}
 td.coupon {
	padding-top: 1em;
	}
 td.buttons {
	text-align: center;
	padding-top: 1em;
	}
/*** Enter postal code, select country ***/
 table.zipncountry, td.zipncountry, td.zipncountry_text, table.sql_addr, table.selectzipncountry {
	text-align: left;
	float: left;
	clear: left;
	width: 46%;
	}
 td.zipncountry_txt {
	font-weight: bold;
	}
 td.sql_addr_hdr {
	font-weight: bold;
	}
 td.sql_addr {
	padding-right: 15px;
	}
/*** select shipping method, tax rate ***/
 table.taxnship { 
	text-align: right;
	width: 46%;
	float: right;
	}
 table.surcharge { 
	text-align: left;
	float: left;
	}
 td.taxnship_hdr {
	font-weight: bold;
	text-align: left;
	}
 td.taxnship {
	text-align: left;
	}
/*** select surcharge ***/
 table.surcharge { 
	text-align: right;
	}
 td.bill_addr_hdr, td.ship_addr_hdr, td.payment_hdr {
	font-weight: normal;
	font-size: 18px;
	font-family: georgia, Times New Roman, Times, serif;
	text-align: center;
	}
/*******************************/
/***  Ordering Instructions  ***/
/*******************************/
 td.orderinginstructions {
	text-align: center;
	padding-top: 1em;
	}
 table.instruct {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #292825;
	}
 td.instruct_hdr, td.comm_hdr, td.bill_addr_hdr, td.ship_addr_hdr {
	font-weight: bold;
	}
/*****************/
/***  Buttons  ***/
/*****************/
 input.button152, input.button154 { 
	color: #292825;
	cursor: pointer;
	}
/*********************************/
/***  Table of Error Messages  ***/
/*********************************/
  div.warning {
    width: 400px;
    margin: 0px auto;
    padding: 5px;
    border: 1px solid #292825;
    background-color: #F6F6E3;
  }
 table.program_reward_order {
	width: 220px;
	max-width: 220px;
	height: 80px;
	max-height: 80px;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/sleek/reward.gif);
	background-repeat: no-repeat;
	background-position: center center;
	}
 th.program_reward_order {
	font-family: georgia, Times New Roman, Times, serif;
	color: #900000;
	font-size: 18px;
	}
 td.program_reward_order {
	text-align: center;
	}
 table.checkout_err, inv_err {
	margin-left: auto;
	margin-right: auto;
	}
 td.checkout_err, inv_err {
	color: #292825;
	background-color: #F6F6E3;
	}
 table.ups_error {
	margin-left: auto;
	margin-right: auto;
	}
 td.ups_error {
	color: #292825;
	background-color: #F6F6E3;
	vertical-align: middle;
	}
/* Checkout Button Table */
 table.checkout {
	vertical-align: middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}
 td.checkout {
 	padding: 5px;
	text-align: center;
	}
 table.google_button {
	vertical-align: middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}
 table.google_button td {
	vertical-align: middle;
	text-align: center;
	padding: 4px;
 }
 td.sc_secure_image {
	text-align: center;
	}
 table.gcs_table {
	width: 220px;
	text-align: center;
	margin: 0px auto;
	}
 table.gcs_product_table, table.pcs_product_table, #related table {
	text-align: center;
	width: 100%:
	}
 td.gcs_product_name, td.pcs_product_name {
	font-weight: bold;
	}

/*********************************/
/***     Gift Certificates     ***/
/*********************************/
div.cert {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	}
table.giftcert_type, table.cert_to_from_msg, table.cert_num_amount {
	padding-top: 1em;
	}
td.giftcert_type {
	padding-top: 0px;
	}
div.buttons {
	text-align: center;
	padding-top: 1em;
	}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
 .suckertreemenu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
 .suckertreemenu ul li{
	position: relative;
	display: inline;
	float: left;
	}
 .suckertreemenu ul li a {
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
	background-repeat: no-repeat;
	background-position: 0px 3px;
	display: block;
	width: 131px;
	max-width: 131px;
	height: 40px;
	clear: none;
	text-align: center;
	font-family: helvetica;
	}
 .suckertreemenu ul li ul {
	left: 0px;
	position: absolute;
	top: 1em;
	display: block;
	visibility: hidden;
	}
 .suckertreemenu ul li ul li {
	display: list-item;
	float: none;
	}
 .suckertreemenu ul li ul li ul { 
	left: 129px;
	top: 0px;
	}
 .suckertreemenu ul li ul li a {
	display: block;
	width: 130px;
	max-width: 130px;
	height: 20px;
	max-height: 20px;
	line-height: 20px;
	text-decoration: none;
	padding: 1px 5px;
	background-image: none;
	}
 .suckertreemenu ul li ul li a:hover{
	background-image: none;
	}
* html p#iepara{
	padding-top: 1em;
	}
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
