@import "basicpage.css";

 body {
	text-align: center;
	}
 body, table, td {
	font-family: arial;
	font-size: 12px;
	}
 table.cart th, #pcs_mi, #pcs_cart {
	color: #FFFFFF;
	}
 #text3 {
	background-color: #FFFFFF;
	}
 span.prod_sku, .crosssell_sku, #toplinks, #toplinks a, #toplinks a:active, #toplinks a:visited, #toplinks a:hover {
	color: #FFFFFF;
	}
 #rightlinks, #leftlinks, #messages table td, td.totals_all, td.totals_all_txt, table.cart td, #gcs_page, #gcs_mi, table.cert_to_from_msg, .gc_policy, #search_form, .search_pa_links, .moreinfo_add, .suckertreemenu ul li ul li:hover {
	background-color: #F6F6E3;
	}
 .center, .button {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	}
 .clear, #product_section {
	clear: both;
	}
 .hidden {
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	height: 0px;
	}
 #toplinks {
	padding: 5px;
	text-align: right;
	}
 #toplinks a {
	font-size: 95%;
	padding: 0px 10px;
	}
 #share {
	margin: 0px auto;
	max-height: 1px;
	overflow: visible;
	text-align: left;
	position: relative;
	top: 5px;
	}
 td#page_a1 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/thickborder/page_a1.png);
	background-repeat: no-repeat;
	width: 18px;
	min-width: 18px;
	max-width: 18px;
	height: 18px;
	padding: 0px;
	margin: 0px;
	}
 td#page_a1 img {
	height: 18px;
	width: 18px;
	margin: 0px;
	padding: 0px;
	}
 td#page_a2 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/thickborder/page_a2.png);
	background-repeat: repeat-x;
	height: 18px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	}
 td#page_a2 img {
	height: 18px;
	margin: 0px;
	padding: 0px;
	}
 td#page_a3 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/thickborder/page_a3.png);
	background-repeat: no-repeat;
	width: 18px;
	min-width: 18px;
	height: 18px;
	padding: 0px;
	margin: 0px;
	}
 td#page_a3 img {
	height: 18px;
	width: 22px;
	margin: 0px;
	padding: 0px;
	}
 td#page_b1 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/thickborder/page_b1.png);
	background-repeat: repeat-y;
	width: 18px;
	padding: 0px;
	margin: 0px;
	}
 td#page_b1 img {
	width: 18px;
	padding: 0px;
	margin: 0px;
	}
 td#page_b2 {
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	}
 td#page_b3 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/thickborder/page_b3.png);
	background-repeat: repeat-y;
	width: 22px;
	padding: 0px;
	margin: 0px;
	}
 td#page_b3 img {
	padding: 0px;
	margin: 0px;
	}
 td#page_c1 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/thickborder/page_c1.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	padding: 0px;
	margin: 0px;
	}
 td#page_c1 img {
	width: 18px;
	max-width: 18px;
	height: 18px;
	padding: 0px;
	margin: 0px;
	}
 td#page_c2 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/thickborder/page_c2.png);
	background-repeat: repeat-x;
	width: 1px;
	height: 22px;
	padding: 0px;
	margin: 0px;
	}
 td#page_c2 img {
	width: 1px;
	height: 22px;
	padding: 0px;
	margin: 0px;
	}
 td#page_c3{
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/thickborder/page_c3.png);
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	}
 td#page_c3 img {
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px;
	}

/****************  Top Bar and Header (ALL)  ******************/
 #header {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/b_gradient_10.png);
	background-repeat: repeat-x;
	background-position: top left;
	}
 #store h1 {
	margin: 0px;
	padding: 15px 10px 5px 10px;
	font-size: 250%;
	}
 #minicart {
	float: right;
	height: 0px;
	max-height: 0px;
	overflow: visible;
	position: relative;
	z-index: 3;
	font-size: 90%;
	margin-right: 0px;
	padding: 6px 4px;
	}
 #topnav {
	clear: both;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/bw_gradient_30.png);
	background-repeat: repeat-x;
	background-position: top center;
	height: 30px;
	margin: 0px;
	padding: 0px;
	}
 #topnav a {
	line-height: 29px;
	font-weight: bold;
	padding: 0px 10px;
	border-right-style: solid;
	border-right-width: 1px;
	color: #F6F6E3;
	text-decoration: none;
	}
 #topnav a.last {
	border: 0px;
	}
 table#main {
	width: 100%;
	}
 #leftlinks {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/b_gradient_10.png);
	background-repeat: repeat-x;
	background-position: top left;
	vertical-align: top;
	border-right-style: solid;
	border-right-width: 1px;
	width: 180px;
	}
 #rightlinks {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/b_gradient_10.png);
	background-repeat: repeat-x;
	background-position: top left;
	vertical-align: top;
	border-left-style: solid;
	border-left-width: 1px;
	width: 180px;
        padding-top: 20px;
	}
 div.left_pagelinks, #rightlinks div {
        width: 180px;
        margin-bottom: 20px;
        }
 #search {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/b_gradient_10.png);
	background-repeat: repeat-x;
	background-position: top left;
	margin: 0;
	padding: 15px 4px 10px 4px;
	white-space: nowrap;
	}
 #search_field {
	width: 120px;
	font-size: 110%;
	letter-spacing: -0.5px;
	}
 #search_button {
	font-size: 110%;
	border: 0px;
	margin: 0px;
	padding: 2px;
	}
 #leftlinks_inner a, div.left_pagelinks a, div.left_pagelinks span, #rightlinks a, #rightlinks span {
	display: block;
	padding: 4px 10px 4px 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	}
 #security_logo {
	text-align: center;
	width: 180px;
	}
 #security_logo a {
	text-align: center;
	padding: 10px;
	border: 0px;
	}
 table#email_signup {
	padding: 5px 0px;
	margin: 20px auto;
	text-align: center;
	}
 table#email_signup td {
	text-align: center;
	white-space: normal;
        padding-bottom: 3px;
	}
 table#newsletter_tbl {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	}
 td#newsletter_field {
	padding-left: 5px;
	}
 td#newsletter_field input {
        width: 90px;
	}
 #newsletter_submit input {
	padding: 0px;
	}
 #content {
	background: #FFFFFF url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/b_gradient_10.png) top left repeat-x;
	padding: 10px;
	text-align: left;
	vertical-align: top;
	}
 #breadcrumbs a {
	font-size: 95%;
	padding: 0px 6px;
	margin: 0px;
	}
 #breadcrumbs a.tf_popup {
	float: right;
	}
 #pagination, #pagination2 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/black_10.png);
	clear: both;
	padding: 3px;
	margin: 2px 0px;
	text-align: center;
	}
 #loop_products_mtrx td {
	padding: 2px;
	font-size: 95%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	}
 .pr_mtrx_price, .pr_mtrx_qnty, .pr_mtrx_add, .mtrx_tle {
	text-align: center;
	}
 #mtrx_add {
	width: 1%;
	white-space: nowrap;
	}

/****************  Product and More Info (PR and MI)  ******************/
 .product {
	vertical-align: top;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	padding-bottom: 20px;
	}
 .pr_img {
	vertical-align: top;
	text-align: center;
	width: 10%;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	}
 .prod_name_Plain_Normal, .crosssell_name_Plain_Normal {
	font-weight: bold;
	display: block;
	}
 .prod_name_Bold_Normal, .crosssell_name_Bold_Normal {
	font-weight: bold;
	font-family: arial black;
	display: block;
	}
 .prod_name_Italic_Normal, .crosssell_name_Italic_Normal {
	font-style: italic;
	display: block;
	}
 .prod_name_Typewriter_Normal, .crosssell_name_Typewriter_Normal {
	font-family: typewriter;
	display: block;
	}
 .prod_name_Plain_Big, .crosssell_name_Plain_Big {
	font-weight: bold;
	font-size: 1.2em;
	display: block;
	}
 .prod_name_Bold_Big, .crosssell_name_Bold_Big {
	font-weight: bold;
	font-family: arial black;
	font-size: 1.2em;
	display: block;
	}
 .prod_name_Italic_Big, .crosssell_name_Italic_Big {
	font-style: italic;
	font-size: 1.2em;
	display: block;
	}
 .prod_name_Typewriter_Big, .crosssell_name_Typewriter_Big {
	font-family: typewriter;
	font-size: 1.2em;
	display: block;
	}
 .prod_name_Plain_Small, .crosssell_name_Plain_Small {
	font-weight: bold;
	font-size: 0.8em;
	display: block;
	}
 .prod_name_Bold_Small, .crosssell_name_Bold_Small {
	font-weight: bold;
	font-family: arial black;
	font-size: 0.8em;
	display: block;
	}
 .prod_name_Italic_Small, .crosssell_name_Italic_Small {
	font-style: italic;
	font-size: 0.8em;
	display: block;
	}
 .prod_name_Typewriter_Small, .crosssell_name_Typewriter_Small {
	font-family: typewriter;
	font-size: 0.8em;
	display: block;
	}
 .prod_name_vr_Plain_Normal {
	font-weight: bold;
	clear: left;
	}
 .prod_name_vr_Bold_Normal {
	font-weight: bold;
	font-family: arial black;
	clear: left;
	}
 .prod_name_vr_Italic_Normal {
	font-style: italic;
	clear: left;
	}
 .prod_name_vr_Typewriter_Normal {
	font-family: typewriter;
	clear: left;
	}
 .prod_name_vr_Plain_Big {
	font-weight: bold;
	font-size: 1.2em;
	clear: left;
	}
 .prod_name_vr_Bold_Big {
	font-weight: bold;
	font-family: arial black;
	font-size: 1.2em;
	clear: left;
	}
 .prod_name_vr_Italic_Big {
	font-style: italic;
	font-size: 1.2em;
	clear: left;
	}
 .prod_name_vr_Typewriter_Big {
	font-family: typewriter;
	font-size: 1.2em;
	clear: left;
	}
 .prod_name_vr_Plain_Small {
	font-weight: bold;
	font-size: 0.8em;
	clear: left;
	}
 .prod_name_vr_Bold_Small {
	font-weight: bold;
	font-family: arial black;
	font-size: 0.8em;
	clear: left;
	}
 .prod_name_vr_Italic_Small {
	font-style: italic;
	font-size: 0.8em;
	clear: left;
	}
 .prod_name_vr_Typewriter_Small {
	font-family: typewriter;
	font-size: 0.8em;
	clear: left;
	}
 span.prod_sku_Plain_Normal, .crosssell_sku_Plain_Normal {
	font-size: 95%;
	display: block;
	}
 span.prod_sku_Bold_Normal, .crosssell_sku_Bold_Normal {
	font-size: 95%;
	font-weight: bold;
	display: block;
	}
 span.prod_sku_Italic_Normal, .crosssell_sku_Italic_Normal {
	font-size: 95%;
	font-style: italic;
	display: block;
	}
 span.prod_sku_Typewriter_Normal, .crosssell_sku_Typewriter_Normal {
	font-size: 95%;
	font-family: typewriter;
	display: block;
	}
 span.prod_sku_Plain_Big, .crosssell_sku_Plain_Big {
	font-size: 1.2em;
	display: block;
	}
 span.prod_sku_Bold_Big, .crosssell_sku_Bold_Big {
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	}
 span.prod_sku_Italic_Big, .crosssell_sku_Italic_Big {
	font-size: 1.2em;
	font-style: italic;
	display: block;
	}
 span.prod_sku_Typewriter_Big, .crosssell_sku_Typewriter_Big {
	font-size: 1.2em;
	font-family: typewriter;
	display: block;
	}
 span.prod_sku_Plain_Small, .crosssell_sku_Plain_Small {
	font-size: 0.7em;
	display: block;
	}
 span.prod_sku_Bold_Small, .crosssell_sku_Bold_Small {
	font-size: 0.7em;
	font-weight: bold;
	display: block;
	}
 span.prod_sku_Itaic_Small, .crosssell_sku_Italic_Small {
	font-size: 0.7em;
	font-style: italic;
	display: block;
	}
 span.prod_sku_Typewriter_Small, .crosssell_sku_Typewriter_Small {
	font-size: 0.7em;
	font-family: typewriter;
	display: block;
	}
 span.prod_price_Plain_Normal, .crosssell_price_Plain_Normal {
	display: block;
	font-size: 1.1em;
	}
 span.prod_price_Bold_Normal, .crosssell_price_Bold_Normal {
	display: block;
	font-weight: bold;
	font-size: 1.1em;
	}
 span.prod_price_Italic_Normal, .crosssell_price_Italic_Normal {
	display: block;
	font-style: italic;
	font-size: 1.1em;
	}
 span.prod_price_Typewriter_Normal, .crosssell_price_Typewriter_Normal {
	display: block;
	font-family: typewriter;
	font-size: 1.1em;
	}
 span.prod_price_Plain_Big, .crosssell_price_Plain_Big {
	display: block;
	font-size: 1.5em;
	}
 span.prod_price_Bold_Big, .crosssell_price_Bold_Big {
	display: block;
	font-weight: bold;
	font-size: 1.5em;
	}
 span.prod_price_Italic_Big, .crosssell_price_Italic_Big {
	display: block;
	font-style: italic;
	font-size: 1.5em;
	}
 span.prod_price_Typewriter_Big, .crosssell_price_Typewriter_Big {
	display: block;
	font-family: typewriter;
	font-size: 1.5em;
	}
 span.prod_price_Plain_Small, .crosssell_price_Plain_Small {
	display: block;
	font-size: 0.8em;
	}
 span.prod_price_Bold_Small, .crosssell_price_Bold_Small {
	display: block;
	font-weight: bold;
	font-size: 0.8em;
	}
 span.prod_price_Italic_Small, .crosssell_price_Italic_Small {
	display: block;
	font-style: italic;
	font-size: 0.8em;
	}
 span.prod_price_Typewriter_Small, .crosssell_price_Typewriter_Small {
	display: block;
	font-family: typewriter;
	font-size: 0.8em;
	}
 td.product strike, td#moreinfo_price strike, td.search_pr_add strike {
	display: block;
	font-weight: normal;
	}
 p.prod_desc_Plain_Normal {
	}
 p.prod_desc_Bold_Normal {
	font-weight: bold;
	}
 p.prod_desc_Italic_Normal {
	font-style: italic;
	}
 p.prod_desc_Typewriter_Normal {
	font-family: typewriter;
	}
 p.prod_desc_Plain_Big {
	font-size: 1.2em;
	}
 p.prod_desc_Bold_Big {
	font-weight: bold;
	font-size: 1.2em;
	}
 p.prod_desc_Italic_Big {
	font-style: italic;
	font-size: 1.2em;
	}
 p.prod_desc_Typewriter_Big {
	font-family: typewriter;
	font-size: 1.2em;
	}
 p.prod_desc_Plain_Small {
	font-size: 0.8em;
	}
 p.prod_desc_Bold_Small {
	font-weight: bold;
	font-size: 0.8em;
	}
 p.prod_desc_Italic_Small {
	font-style: italic;
	font-size: 0.8em;
	}
 p.prod_desc_Typewriter_Small {
	font-family: typewriter;
	font-size: 0.8em;
	}
 .Bold_Normal {
	font-weight: bold;
	}
 .Italic_Normal {
	font-style: italic;
	}
 .Typewriter_Normal {
	font-family: typewriter;
	}
 .Plain_Big {
	font-size: 1.2em;
	}
 .Bold_Big {
	font-weight: bold;
	font-size: 1.2em;
	}
 .Italic_Big {
	font-style: italic;
	font-size: 1.2em;
	}
 .Typewriter_Big {
	font-family: typewriter;
	font-size: 1.2em;
	}
 .Plain_Small {
	font-size: 0.8em;
	}
 .Bold_Small {
	font-weight: bold;
	font-size: 0.8em;
	}
 .Italic_Small {
	font-style: italic;
	font-size: 0.8em;
	}
 .Typewriter_Small {
	font-family: typewriter;
	font-size: 0.8em;
	}
 .product textarea {
	display: block;
	}
 .opt_hdr {
	display: block;
	font-weight: bold;
	}
 table#product_info {
	width: 100%;
	border: 0px;
	margin: 0px 0px 20px 0px;
	}
 .moreinfo_img {
	text-align: center;
	vertical-align: top;
	}
 .moreinfo_top {
	width: 100%;
	vertical-align: top;
	}
 .moreinfo_add {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/w_gradient_50.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	padding: 8px;
	margin: 0px;
	width: 100%;
	}
 .qp_header {
	width: 100%;
	margin: 5px 0px;
	padding: 0px;
	}
 .qp_header td {
	padding: 2px;
	}
 .qp_quantitytxt, .qp_quantity, .qp_pricetxt, .qp_saletxt {
	font-weight: bold;
	}
 #moreinfo_price {
	vertical-align: middle;
	text-align: left;
	font-size: 150%;
	width: 100%;
	font-family: arial;
	}
 .moreinfo_menus {
	width: 100%;
	}
 .moreinfo_price strike {
	display: block;
	font-size: 130%;
	}
 .moreinfo_qnty {
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	}
 .moreinfo_qnty input.add_btn {
	margin: 3px auto 0px auto;
	padding: 0px;
	display: block;
	clear: both;
	}
 .moreinfo_qnty a.tf_popup {
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
	}
 .moreinfo_menus {
	text-align: left;
	}

/****************  Bottom of Page (ALL)  ******************/
 #bottom_divider {
	clear: both;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/bw_gradient_30.png);
	background-repeat: repeat-x;
	background-position: top center;
	height: 30px;
	margin: 0px;
	padding: 0px;
	}
 #text3 {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/b_gradient_10.png);
	background-repeat: repeat-x;
	background-position: top left;
	padding: 15px;
	text-align: center;
	}
 #text3 a.linkonly {
	padding: 0px 3px;
	}
 #footer {
	padding: 15px;
	}
 #footer_inner {
	text-align: center;
	}
 #footer_pagelinks {
	clear: both;
	margin: 0px auto;
	padding: 0px;
        width: 100%;
	min-height: 120px;
	}
 div.footer_pagelinks {
	width: 212px;
	height: 100px;
	float: left;
	clear: none;
	margin: 10px 0px;
	padding: 0px;
	}
 div.footer_pagelinks a, div.footer_pagelinks span {
	display: block;
	padding: 2px 10px;
	text-align: left;
	text-decoration: none;
	}
 div.footer_pagelinks .footer_pagetitle {
	font-weight: bold;
	}

/****************  All Store Buttons (ALL)  ******************/
 .button a, .button a:hover, .btn, a.btn:link, a.btn:visited, a.btn:hover, a.btn:active, input[type="submit"], input[type=submit], a.mtrx_btn, a.mtrx_btn:hover, a.mtrx_btn:visited, a.mtrx_btn:active, .view_edit a {
	border-style: solid;
	border-width: 1px;
	margin: 3px;
	text-decoration: none;
	font-size: 100%;
	padding: 1px 10px;
	}
 .button a, .button a:hover, .btn, a.btn:link, a.btn:visited, a.btn:hover, a.btn:active {
	position: relative;
	top: 6px;
	}
 .button168, .button169, .button170, .button171, .button172, .view_edit a {
	width: 120px;
	text-align: center;
	}
 .view_edit a {
	padding: 1px 0px;
	display: block;
	}
 .button187, .button188, .button189, .button473 {
	width: 66px;
	}
 a.mtrx_btn, a.mtrx_btn:hover, a.mtrx_btn:visited, a.mtrx_btn:active {
	display: block;
	}
 input {
	cursor: pointer;
	}
 input[type="text"] {
	cursor: text;
	}
	

/****************  Search Results (SE)  ******************/
 .search_pa_links {
	border-top-style: dotted;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/w_gradient_50.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	font-size: 95%;
	}
 .search_pr_add {
	text-align: center;
	}
 .search_pr_add strike {
	display: block;
	}
 #search_form {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/w_gradient_50.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	padding: 5px;
	}
 .search_table {
	background-color: transparent;
	margin: 0px auto 15px auto;
	}
 #breadcrumbs div#se_count {
	float: right;
	max-width: 200px;
	font-size: 95%;
	}
 #se_table_top, #se_table_bottom {
	border: 0px;
	width: 100%;
	}
 #se_table_top {
	padding-bottom: 10px;
	}
 .se_bottom {
	margin-top: 20px;
	}
	
/****************  Gift Certificates (GC)  ******************/
 .gc_policy {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/w_gradient_50.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	min-height: 50px;
	padding: 5px;
	}
 .gc_instructions, .gc_header {
	padding: 5px;
	}
 table.giftcert_type input {
	max-width: 250px;
	}
 table.cert_num_amount {
	margin: 0px auto;
	}
 table.giftcert_type {
	margin: 0px auto;
	padding: 0px 0px 20px 0px;
	}
 table.cert_to_from_msg {
	margin: 10px auto 5px auto;
	padding: 20px 40px;
	border-width: 1px;
	border-style: solid;
	}
 table.cert_to_from_msg td {
	padding: 5px;
	}
 .cert_to_from_msg_val {
	max-width: 250px;
	text-align: left;
	}
 .cert_to_from_msg {
	text-align: right;
	}
	
/****************  Cross Sell Tables (Cart)  ******************/
 table.gcs_table, table.pcs_table {
	width: 100%;
	}
 table.gcs_table td, table.pcs_table td {
	width: 33%;
	text-align: center;
}
 #gcs_page, #gcs_mi {
	background-image: url(https://shopsite.ipower.com/ss11.2/shopsite-images/en-US/backgrounds/shared/w_gradient_50.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	line-height: 50px;
	font-size: 200%;
	font-family: Palatino Linotype, Book Antiqua, serif;
	font-weight: normal;
	}
 #pcs_cart, #pcs_mi {
	clear: both;
	padding: 3px;
	margin: 2px 0px;
	text-align: center;
	}

/****************  Table of Products (Cart)  ******************/
 table.cart {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-collapse: separate;
	border-spacing: 1px;
	}
 table.cart th {
	font-weight: normal;
	text-align: center;
	padding: 3px;
	}
 table.cart td {
	padding: 3px;
	text-align: center;
	}
 table.cart td.cart_op, table.cart .cart_name, table.cart .cart_cp_name {
	text-align: left;
	}
 table.cart .cart_price, table.cart .cart_cp_price, table.cart .cart_total, table.cart .cart_cp_total {
	text-align: right;
	white-space: nowrap;
	}
 #fullwidth table {
	width: 100%;
	}

/****************  Table of Totals (Cart)  ******************/
 table.totals {
	float: right;
	}
 td.totals_txt, td.totals_saved_txt, td_totals_blank, td.totals_all_txt {
	text-align: right;
	padding-right: 15px;
	}
 td.totals, td.totals_saved, td.totals_all {
	text-align: right;
	padding-right: 3px;
	}
 td.totals_all, td.totals_all_txt {
	font-weight: bold;
	}

/****************  Payment Table (Cart)  ******************/
 table.pay_holder {
	margin: 0px auto;
	}
 td.pay_holder_hdr {
	font-weight: bold;
	}
 td.payment_hdr {
	font-weight: bold;
	text-align: center;
	}
 td.paymentselection {
	text-align: center;
	padding-top: 1em;
	}
 table.sql_pay {
	margin-left: -4px;
	margin-right: auto;
	}
 td.sql_pay {
	  padding-right: 15px;
	  font-weight: bold;
	}

/****************  Smaller Sections and Errors (Cart)  ******************/
  div.warning {
    width: 400px;
    margin: 0px auto;
    padding: 5px;
    border: 1px solid #292825;
    background-color: #F6F6E3;
  }
 #showbasket {
	font-size: 95%;
	}
 #anychanges {
	padding: 8px;
	font-style: italic;
	font-size: 95%;
	}
 #messages table {
	margin: 2px auto;
	border-width: 1px;
	border-style: solid;
	}
 #discounts {
	width: 90%;
	margin: 10px auto;
	padding: 8px;
	border-style: solid;
	border-width: 1px;
	}
 #coupon_ttl, #gc_ttl {
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	}
 #coupon_field, #gc_field {
	text-align: left;
	width: 100%;
	white-space: nowrap;
	}
 #coupon_button, #gc_button {
	white-space: nowrap;
	text-align: center;
	}
 .ship_logos {
    margin: 10px auto;
  }
  .ship_logos td {
    width: 220px;
    text-align: center;
    padding: 3px;
    vertical-align: top;
  }
  .ship_logos td.ship_img {
    vertical-align: middle;
  }
  .ship_logos td.ship_text {
    font-size: 8pt;
  }
 td.instruct_hdr, td.comm_hdr, td.bill_addr_hdr, td.ship_addr_hdr {
	font-weight: bold;
	}

/****************  Address Information (Cart)  ******************/
 td.sql_addr_hdr, td.bill_addr_hdr, td.ship_addr_hdr {
	font-weight: bold;
	}
 td.sql_addr {
	padding-right: 15px;
	}
 table.taxnship, table.surcharge { 
	float: left;
	}
 td.taxnship_hdr {
	font-weight: bold;
	}
 table.checkout, table.google_button {
	vertical-align: middle;
	text-align: center;
	margin: 0px auto;
	}
 td.checkout {
	padding: 5px;
	text-align: center;
	}
 table.google_button td {
	vertical-align: middle;
	text-align: center;
	padding: 4px;
 }
 table.ship_logos {
	width: 100%;
	}

/****************  Customer Registration (CR)  ******************/
 #cr_content {
	padding: 10px 0px;
	text-align: center;
	}
 #cr_content table {
	margin: 0px auto;
	}
 #new_registration table, #preferences table {
	width: 100%;
	}
 #new_registration table td, #preferences table td {
	text-align: left;
	}
 p.button a, p.button a:hover {
	position: relative;
	top: -1px;
	}

/****************  Thank You Email (SC)  ******************/
 #thankyou_email {
	width: 90%;
	border-style: solid;
	border-width: 10px;
	}

/****************  Navigation (NAV)  ******************/
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
 .suckertreemenu {
	clear: both;
	position: relative;
	left: 1px;
	height: 30px;
	}
 .suckertreemenu ul{
	margin: 0px;
	padding: 0px;
	float: left;
	clear: both;
	list-style-type: none;
	}
 .suckertreemenu ul li{
	position: relative;
	display: inline;
	float: left;
	}
 .suckertreemenu ul li a{
	display: block;
	min-width: 90px;
	text-align: center;
	}
 .suckertreemenu ul li ul{
	left: -1px;
	position: absolute;
	top: 1em;
	display: block;
	visibility: hidden;
	}
 .suckertreemenu ul li ul li{
	display: list-item;
	float: none;
	padding: 0px;
	margin: 0px;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	}
 .suckertreemenu ul li ul li ul{ 
	left: 140px;
	top: 0;
	}
 .suckertreemenu ul li ul li a{
	display: block;
	width: 160px;
	padding: 3px 5px;
	text-align: left;
	height: 18px;
	margin: 0px;
	}
 #topnav_inner .suckertreemenu ul li ul li a {
	line-height: 18px;
	}
 .suckertreemenu .mainfoldericon{
	background: no-repeat center right;
	}
 .suckertreemenu .subfoldericon{
	background: no-repeat center right;
	}
* html p#iepara{
	padding-top: 1em;
	}
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
